<template>
  <div class="real-time-video">
    <div class="view-main">
      <app-tree-side :isClose="asideOpen" @toggle="switchAsideSlide">
        <div class="search-wrap">
          <el-input
            v-model="searchValue"
            @input="searchStreamNode"
            placeholder="请输入需要查询的摄像头">
            <img slot="prefix" src="../../assets/imgs/icon_search.png">
          </el-input>
          <!--<el-button type="primary" @click="searchStreamNode">确&nbsp;定</el-button>-->
        </div>
        <div class="tree-wrap">
          <el-tree
            :data="streamNodeSearchKey === '' ? streamNodeTreeData : tempTreeData"
            :props="videoTreeProps"
            node-key="key"
            default-expand-all
            @node-click="onTreeItemSelect"
            @node-contextmenu="onTreeItemRightClick"
          >
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>
                <!--<i class="icon-tree-node"-->
                   <!--:class="(data.streamObjectKind === 0 || data.streamObjectKind === 1) && (data.alarmState === 0 || data.alarmState === 2) ? 'qiu-node-tree-icon' :-->
                           <!--(data.streamObjectKind === 0 || data.streamObjectKind === 1) && data.alarmState === 1 ? 'qiu-node-tree-icon-open' :-->
                           <!--(data.streamObjectKind === 0 || data.streamObjectKind === 1) && data.alarmState === 3 ? 'qiu-node-tree-icon-warn' :-->
                           <!--(data.streamObjectKind === 2 || data.streamObjectKind === 13) && (data.alarmState === 0 || data.alarmState === 2) ? 'banqiu-node-tree-icon' :-->
                           <!--(data.streamObjectKind === 2 || data.streamObjectKind === 13) && data.alarmState === 1 ? 'banqiu-node-tree-icon-open' :-->
                           <!--(data.streamObjectKind === 2 || data.streamObjectKind === 13) && data.alarmState === 3 ? 'banqiu-node-tree-icon-warn' :-->
                           <!--(data.streamObjectKind === 11 || data.streamObjectKind === 14) && (data.alarmState === 0 || data.alarmState === 2) ? 'qiang-node-tree-icon' :-->
                           <!--(data.streamObjectKind === 11 || data.streamObjectKind === 14) && data.alarmState === 1 ? 'qiang-node-tree-icon-open' :-->
                           <!--(data.streamObjectKind === 11 || data.streamObjectKind === 14) && data.alarmState === 3 ? 'qiang-node-tree-icon-warn' :-->
                            <!--'parent-node-tree-icon'"-->
                <!--&gt;</i>-->
                <i class="icon-tree-node"
                   :class="data.type === 'region' ? 'parent-node-tree-icon'
                   : data.slots.icon === 'open' ? 'qiu-node-tree-icon-open'
                   : 'qiu-node-tree-icon'"
                ></i>
                <span class="label-tree-node">{{ node.label }}</span>
              </span>
            </span>
          </el-tree>
        </div>
        <div class="control-wrap">
          <el-tabs v-model="activeTab">
            <el-tab-pane label="云台控制" name="0">
              <div class="control-pane">
                <div class="control-left">
                  <ul class="direct-list">
                    <li @mousedown="ptzControl(ptz.DVR_PTZ_MOVE_UP)" @mouseup="ptzControl(ptz.DVR_PTZ_STOP_UP)"><i class="iconfont icon-top"></i></li>
                    <li @mousedown="ptzControl(ptz.DVR_PTZ_MOVE_RIGHTUP)" @mouseup="ptzControl(ptz.DVR_PTZ_STOP_RIGHTUP)"><i class="iconfont icon-right-top"></i></li>
                    <li @mousedown="ptzControl(ptz.DVR_PTZ_MOVE_RIGHT)" @mouseup="ptzControl(ptz.DVR_PTZ_STOP_RIGHT)"><i class="iconfont icon-right-arrow"></i></li>
                    <li @mousedown="ptzControl(ptz.DVR_PTZ_MOVE_RIGHTDOWN)" @mouseup="ptzControl(ptz.DVR_PTZ_STOP_RIGHTDOWN)"><i class="iconfont icon-right-bottom"></i></li>
                    <li @mousedown="ptzControl(ptz.DVR_PTZ_MOVE_DOWN)" @mouseup="ptzControl(ptz.DVR_PTZ_STOP_DOWN)"><i class="iconfont icon-bottom"></i></li>
                    <li @mousedown="ptzControl(ptz.DVR_PTZ_MOVE_LEFTDOWN)" @mouseup="ptzControl(ptz.DVR_PTZ_STOP_LEFTDOWN)"><i class="iconfont icon-left-bottom"></i></li>
                    <li @mousedown="ptzControl(ptz.DVR_PTZ_MOVE_LEFT)" @mouseup="ptzControl(ptz.DVR_PTZ_STOP_LEFT)"><i class="iconfont icon-left-arrow"></i></li>
                    <li @mousedown="ptzControl(ptz.DVR_PTZ_MOVE_LEFTUP)" @mouseup="ptzControl(ptz.DVR_PTZ_STOP_LEFTUP)"><i class="iconfont icon-left-top"></i></li>
                  </ul>
                </div>
                <div class="control-right">
                  <ul class="btn-list">
                    <li class="list-item">
                      <div class="name">变倍</div>
                      <div @mousedown="ptzControl(ptz.DVR_PTZ_ZOOM_IN)" @mouseup="ptzControl(ptz.DVR_PTZ_STOP_ZOOM_IN)" class="control-btn danbei-btn"></div>
                      <div @mousedown="ptzControl(ptz.DVR_PTZ_ZOOM_OUT)" @mouseup="ptzControl(ptz.DVR_PTZ_STOP_ZOOM_OUT)" class="control-btn duobei-btn"></div>
                    </li>
                    <li class="list-item">
                      <div class="name">光圈</div>
                      <div @mousedown="ptzControl(ptz.DVR_PTZ_APERTURE_INCREASE)" @mouseup="ptzControl(ptz.DVR_PTZ_APERTURE_STOP_INCREASE)" class="control-btn dagq-btn"></div>
                      <div @mousedown="ptzControl(ptz.DVR_PTZ_APERTURE_DECREASE)" @mouseup="ptzControl(ptz.DVR_PTZ_APERTURE_STOP_DECREASE)" class="control-btn xiaogq-btn"></div>
                    </li>
                    <li class="list-item">
                      <div class="name">聚焦</div>
                      <div @mousedown="ptzControl(ptz.DVR_PTZ_FOCUS_OUT)" @mouseup="ptzControl(ptz.DVR_PTZ_STOP_FOCUS_OUT)" class="control-btn jujiao1-btn"></div>
                      <div @mousedown="ptzControl(ptz.DVR_PTZ_FOCUS_IN)" @mouseup="ptzControl(ptz.DVR_PTZ_STOP_FOCUS_IN)" class="control-btn jujiao2-btn"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="control-speed">
                <div class="control-speed-title">云台速度</div>
                <div class="control-speed-content">
                  <el-slider v-model="hSpeed" :min="1" :max="10"></el-slider>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="预置点控制" name="1">
              <div class="yzd-control">
                <div class="content-top">
                  <ul class="list">
                    <li class="header">
                      <div>序号</div>
                      <div>名称</div>
                      <div>点号</div>
                    </li>
                    <li v-for="(item,index) in presets" :key=index >
                      <div @click="presetControl(item.presetNum,ptz.DVR_PTZ_MOVE_PRESET)">{{index + 1}}</div>
                      <div @click="presetControl(item.presetNum,ptz.DVR_PTZ_MOVE_PRESET)">{{item.name}} </div>
                      <div @click="presetControl(item.presetNum,ptz.DVR_PTZ_MOVE_PRESET)">{{item.presetNum}}</div>
                    </li>
                  </ul>
                </div>
                <div class="content-bottom">
                  <div class="control-bar">
                    <div class="btn" @click="presetControl(ptz.DVR_PTZ_SET_PRESET)"><i class="el-icon-circle-plus-outline"></i> 添加</div>
                    <div class="btn" @click="presetControl(ptz.DVR_PTZ_SET_PRESET)"><i class="el-icon-edit-outline"></i> 修改</div>
                    <div class="btn" @click="presetControl(ptz.DVR_PTZ_DEL_PRESET)"><i class="el-icon-remove-outline"></i> 删除</div>
                  </div>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="图像参数" name="2">
              <div class="tx-control">
                <div class="tx-item">
                  <div class="name">亮度：{{videoParam.ld}}</div>
                  <el-slider class="tx-slider" v-model="videoParam.ld" :min="0" :max="255"></el-slider>
                </div>
                <div class="tx-item">
                  <div class="name">对比度：{{videoParam.db}}</div>
                  <el-slider class="tx-slider" v-model="videoParam.db" :min="0" :max="255"></el-slider>
                </div>
                <div class="tx-item">
                  <div class="name">饱和度：{{videoParam.bh}}</div>
                  <el-slider class="tx-slider" v-model="videoParam.bh" :min="0" :max="255"></el-slider>
                </div>
                <div class="tx-item">
                  <div class="name">色度：{{videoParam.sd}}</div>
                  <el-slider class="tx-slider" v-model="videoParam.sd" :min="0" :max="255"></el-slider>
                </div>
              </div>
            </el-tab-pane>
          </el-tabs>
        </div>
      </app-tree-side>
      <div class="right-side">
        <div class="video-list" :style="{height: footerAsideOpen ? '100%' : ''}">
          <div class="video-item"
               v-for="(item, index) in players"
               :class="[isSingle ? 'single-video-item' : '', item.id === currentVideoPlayerId ? 'video-active' : '']"
               v-show="!isSingle || (isSingle && (currentVideoPlayerId !== 0 && item.id === currentVideoPlayerId) || (currentVideoPlayerId === 0 && index === 0)) "
               :key="'videoItem' + index"
               ref="videoItem"
               @click="item.active ? selectVideoPlayer(item) : ''"
          >
            <div class="title" v-show="tileVisible">
              <div class="left">{{ item.active ? item.streamNodeName : item.title }}</div>
              <div class="right" v-if="item.active">
                <a @click="capturePictureJpeg()" href="javascript:;" class="video-btn camera-btn"></a>
                <!--<a href="javascript:;" class="video-btn save-btn"></a>-->
                <a @click="closeVideo(item.streamNodeId)" href="javascript:;" class="video-btn close-btn"></a>
              </div>
            </div>
            <div class="main" ref="videoPlayerContainer">
              <!--视频控件-->
              <video-player class="video-player vjs-custom-skin"
                            v-show="item.active"
                            ref="videoPlayer"
                            :playsinline="true"
                            :options="item.playerMediaSource.playerOptions"
              ></video-player>
            </div>
          </div>
        </div>
        <div class="bottom-bar" :class="footerAsideOpen ? 'side-close' : ''">
          <div class="bottom-bar-toggle-btn" @click="switchFooterAsideSlide"></div>
          <div class="left-bar">
            <a @click="singleLayout" href="javascript:;" class="change-view">
              <span class="view_icon single_view"></span>单画面
            </a>
            <a @click="fourLayout" href="javascript:;" class="change-view">
              <span class="view_icon more_view"></span>四画面
            </a>
            <a @click="fullScreen" href="javascript:;" class="change-view">
              <span class="view_icon el-icon-full-screen" style="font-size: 30px"></span>全屏
            </a>
            <a @click="switchTitleVisible" href="javascript:;" class="change-view">
              <span class="view_icon el-icon-postcard" style="font-size: 30px"></span>标题
            </a>
          </div>
          <div class="right-bar">
            <a @click="capturePictureJpeg" href="javascript:;" class="change-view">
              <span class="view_icon snap_view"></span>抓拍
            </a>
            <!--<a href="javascript:;" class="change-view">-->
              <!--<span class="view_icon record_view"></span>录像-->
            <!--</a>-->
            <a @click="showPatrolModal" href="javascript:;" class="change-view">
              <span class="view_icon turning_view"></span>轮巡
            </a>
            <a @click="closeVideo(currentStreamNodeId)" href="javascript:;" class="change-view">
              <span class="view_icon turn_off_view"></span>关闭视频
            </a>
            <a @click="closeAllVideo" href="javascript:;" class="change-view">
              <span class="view_icon turn_off_all_view"></span>关闭全部
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- 轮巡弹窗 -->
    <el-dialog
      title="视频轮巡设置"
      :visible.sync="videoPatrolModelVisible"
      width="800px">
      <video-patrol @closeVideoPatrolModel="closeVideoPatrolModel"
                    @startVideoPatrol="startVideoPatrol"
                    @stopVideoPatrol="stopVideoPatrol"
                    :videoPatrolActive="videoPatrolActive"
      ></video-patrol>
    </el-dialog>
  </div>
</template>

<script type="text/ecmascript-6">
import RealTimeVideo from './RealTimeVideo.js'
export default RealTimeVideo
</script>

<style lang="scss">
@import "RealTimeVideo.scss";
</style>
