.real-time-video {
  padding: 5px 5px 0 5px;
  height: 100%;
  box-sizing: border-box;
  .view-main {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #fff;
    height: 100%;
    .search-wrap {
      display: flex;
      padding: 5px 5px 0 10px;
      height: 35px;
      .el-input {
        font-size: 12px;
        .el-input__inner {
          height: 28px;
          line-height: 28px;
          border-color: #1DD3B8;
          border-radius: 0;
        }
        .el-input__prefix {
          top: 6px;
          left: 0;
          width: 26px;
          height: 16px;
          text-align: center;
          box-sizing: border-box;
          border-right: 1px solid #1DD3B8;
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
      .el-button {
        margin-left: 10px;
        padding: 0;
        width: 69px;
        height: 28px;
      }
    }
    .tree-wrap {
      flex: 1;
      height: calc(100% - 320px);
      overflow-y: auto;
      .el-tree {
        .el-tree-node {
          .el-tree-node__content {
            position: relative;
            height: 40px;
            line-height: 40px;
            .el-tree-node__expand-icon {
              position: absolute;
              right: 20px;
              font-size: 16px;
            }
            .custom-tree-node {
              padding-left: 20px;
              font-size: 0;
              .icon-tree-node {
                display: inline-block;
                vertical-align: middle;
                width: 18px;
                height: 18px;
                &.parent-node-tree-icon {
                  background: url("../../assets/imgs/icon_tree_p.png") no-repeat;
                  background-size: 18px 18px;
                }
                // 球形机
                &.qiu-node-tree-icon {
                  background: url("../../assets/imgs/icon_qiu.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiu-node-tree-icon-open {
                  background: url("../../assets/imgs/icon_qiu_o.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiu-node-tree-icon-warn {
                  background: url("../../assets/imgs/icon_qiu_w.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiu-node-tree-icon-disabled {
                  background: url("../../assets/imgs/icon_qiu_d.png") no-repeat;
                  background-size: 18px 18px;
                }
                // 半球机
                &.banqiu-node-tree-icon {
                  background: url("../../assets/imgs/icon_banqiu.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.banqiu-node-tree-icon-open {
                  background: url("../../assets/imgs/icon_banqiu_o.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.banqiu-node-tree-icon-warn {
                  background: url("../../assets/imgs/icon_banqiu_w.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.banqiu-node-tree-icon-disabled {
                  background: url("../../assets/imgs/icon_banqiu_d.png") no-repeat;
                  background-size: 18px 18px;
                }
                // 枪机
                &.qiang-node-tree-icon {
                  background: url("../../assets/imgs/icon_qiang.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiang-node-tree-icon-open {
                  background: url("../../assets/imgs/icon_qiang_o.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiang-node-tree-icon-warn {
                  background: url("../../assets/imgs/icon_qiang_w.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiang-node-tree-icon-disabled {
                  background: url("../../assets/imgs/icon_qiang_d.png") no-repeat;
                  background-size: 18px 18px;
                }
              }
              .label-tree-node {
                padding-left: 14px;
                font-size: 16px;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
    .control-wrap {
      padding: 0 10px;
      border-top: 10px solid #F5F5F5;
      height: 300px;
      .el-tabs {
        .el-tabs__header {
          .el-tabs__nav {
            .el-tabs__item {
              padding: 0 19px;
              font-weight: 400;
              &.is-top:nth-child(2) {
                padding-left: 0;
              }
              &.is-top:last-child {
                padding-right: 0;
              }
            }
          }
        }
        .el-tabs__content {
          .el-tab-pane {
            .control-pane {
              height: 135px;
              border-bottom: 1px solid #ECECEC;
              .control-left {
                float: left;
                width: 120px;
                height: 120px;
                background: url("../../assets/imgs/bg_control.png") no-repeat left;
                background-size: cover;
                .direct-list {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  li {
                    position: absolute;
                    color: #fff;
                    &:hover {
                      color: #fddf42;
                    }
                    &:nth-child(1) {
                      top: 2px;
                      left: 50%;
                      transform: translateY(10%) translateX(-50%);
                    }
                    &:nth-child(2) {
                      top: 33px;
                      left: 75%;
                      transform: translateX(-120%);
                      .iconfont {
                        font-size: 18px;
                      }
                    }
                    &:nth-child(3) {
                      top: 50%;
                      left: 100%;
                      transform: translateY(-50%) translateX(-120%);
                    }
                    &:nth-child(4) {
                      top: 69px;
                      left: 75%;
                      transform: translateX(-120%);
                      .iconfont {
                        font-size: 18px;
                      }
                    }
                    &:nth-child(5) {
                      top: 100%;
                      left: 50%;
                      transform: translateY(-120%) translateX(-50%);
                    }
                    &:nth-child(6) {
                      top: 69px;
                      left: 27%;
                      .iconfont {
                        font-size: 18px;
                      }
                    }
                    &:nth-child(7) {
                      top: 50%;
                      left: 0;
                      transform: translateY(-50%) translateX(20%);
                    }
                    &:nth-child(8) {
                      top: 33px;
                      left: 27%;
                      .iconfont {
                        font-size: 18px;
                      }
                    }
                  }
                }
              }
              .control-right {
                float: right;
                .btn-list {
                  margin-top: 8px;
                  .list-item {
                    margin-bottom: 10px;
                    margin-right: 6px;
                    height: 28px;
                    line-height: 28px;
                    font-size: 14px;
                    color: #333;
                    &:last-child {
                      margin-bottom: 0;
                    }
                    .name, .control-btn {
                      float: left;
                    }
                    .name {
                      margin-right: 10px;
                    }
                    .control-btn {
                      margin-right: 9px;
                      height: 28px;
                      width: 28px;
                      &.danbei-btn {
                        background: url("../../assets/imgs/icon_danbei.png") no-repeat;
                        background-size: 29px 28px;
                        &:hover {
                          background: url("../../assets/imgs/icon_danbei2.png") no-repeat;
                          background-size: 28px 28px;
                        }
                      }
                      &.duobei-btn {
                        background: url("../../assets/imgs/icon_duobei.png") no-repeat;
                        background-size: 28px 28px;
                        &:hover {
                          background: url("../../assets/imgs/icon_duobei2.png") no-repeat;
                          background-size: 28px 28px;
                        }
                      }
                      &.dagq-btn {
                        background: url("../../assets/imgs/icon_dagq.png") no-repeat;
                        background-size: 28px 28px;
                        &:hover {
                          background: url("../../assets/imgs/icon_dagq2.png") no-repeat;
                          background-size: 28px 28px;
                        }
                      }
                      &.xiaogq-btn {
                        background: url("../../assets/imgs/icon_xiaogq.png") no-repeat;
                        background-size: 28px 28px;
                        &:hover {
                          background: url("../../assets/imgs/icon_xiaogq2.png") no-repeat;
                          background-size: 28px 28px;
                        }
                      }
                      &.jujiao1-btn {
                        background: url("../../assets/imgs/icon_jujiao1.png") no-repeat;
                        background-size: 29px 28px;
                        &:hover {
                          background: url("../../assets/imgs/icon_jujiao12.png") no-repeat;
                          background-size: 28px 28px;
                        }
                      }
                      &.jujiao2-btn {
                        background: url("../../assets/imgs/icon_jujiao2.png") no-repeat;
                        background-size: 28px 28px;
                        &:hover {
                          background: url("../../assets/imgs/icon_jujiao22.png") no-repeat;
                          background-size: 28px 28px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .control-speed {
              .control-speed-title {
                padding-top: 10px;
                padding-bottom: 25px;
                font-size: 14px;
                color: #333;
              }
              .control-speed-content {
                padding: 0 12px;
              }
            }
            .tx-control {
              .tx-item {
                margin-bottom: 10px;
                font-size: 14px;
                color: #333;
                .tx-slider {
                  margin-left: 15px;
                  margin-right: 15px;
                }
              }
            }
            .yzd-control {
              font-size: 14px;
              .content-top {
                height: 205px;
                ul.list {
                  margin: 0;
                  height: 100%;
                  overflow-y: auto;
                  li {
                    height: 30px;
                    line-height: 30px;
                    display: flex;
                    flex-direction: row;
                    &.header {
                      padding-bottom: 10px;
                      font-weight: bold;
                      height: auto;
                      line-height: 1;
                    }
                    div {
                      text-align: center;
                      &:nth-child(2) {
                        flex: 1;
                      }
                      &:nth-child(1), &:nth-child(3) {
                        width: 40px;
                      }
                    }
                  }
                }
              }
              .content-bottom {
                height: 40px;
                .control-bar {
                  height: 100%;
                  line-height: 40px;
                  border-top: 1px solid #e8e8e8;
                  display: flex;
                  justify-content: center;
                  .btn {
                    margin: 0 10px;
                    width: 67px;
                    text-align: center;
                    &:hover {
                      cursor: pointer;
                      color: #1DD3B8;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .right-side {
      position: relative;
      flex: 1;
      width: calc(100% - 280px);
      height: 100%;
      border-left: 2px solid #ECECEC;
      box-sizing: border-box;
      overflow: hidden;
      .video-list {
        width: 100%;
        height: calc(100% - 60px);
        .video-item {
          float: left;
          width: 50%;
          height: 50%;
          border: 1px solid #ECECEC;
          box-sizing: border-box;
          &.video-active {
            box-shadow:inset 0 0 2px 2px #FDDF42;
          }
          &.single-video-item {
            width: 100%;
            height: 100%;
          }
          .title {
            padding: 0 5px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            color: #333;
            .left {
              float: left;
            }
            .right {
              float: right;
              font-size: 0;
              .video-btn {
                display: inline-block;
                margin: 5px 0 0 5px;
                width: 18px;
                height: 18px;
                &.camera-btn {
                  background: url("../../assets/imgs/icon_camera.png") no-repeat;
                  &:hover {
                    background: url("../../assets/imgs/icon_camera_hover.png") no-repeat;
                  }
                }
                &.camera-btn-disabled {
                  background: url("../../assets/imgs/icon_camera_disabled.png") no-repeat;
                }
                &.save-btn {
                  background: url("../../assets/imgs/icon_save.png") no-repeat;
                  &:hover {
                    background: url("../../assets/imgs/icon_save_hover.png") no-repeat;
                  }
                }
                &.save-btn-disabled {
                  background: url("../../assets/imgs/icon_save_disabled.png") no-repeat;
                }
                &.close-btn {
                  background: url("../../assets/imgs/icon_close.png") no-repeat;
                  &:hover {
                    background: url("../../assets/imgs/icon_close_hover.png") no-repeat;
                  }
                }
                &.close-btn-disabled {
                  background: url("../../assets/imgs/icon_close_disabled.png") no-repeat;
                }
              }
            }
          }
          .main {
            width: calc(100% - 10px);
            height: calc(100% - 33px);
            margin: 0 5px 5px;
            border: 1px solid #CECECE;
            box-sizing: border-box;
            background: url("../../assets/imgs/bg_camera.png") no-repeat center;
            .video-player {
              width: 100%;
              height: 100%;
              .video-js {
                padding-top: 0!important;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
      .bottom-bar {
        position: absolute;
        width: 100%;
        height: 60px;
        border-top: 1px solid #1DD3B8;
        //overflow: hidden;
        &.side-close {
          bottom: -60px;
          z-index: 888;
          .bottom-bar-toggle-btn {
            margin-top: -10px;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
        .bottom-bar-toggle-btn {
          position: absolute;
          left: 50%;
          top: 0;
          margin-left: -72px;
          width: 143px;
          height: 10px;
          background: url("../../assets/imgs/icon_bottom_bar.png") no-repeat;
          background-size: 143px 10px;
          z-index: 999;
        }
        .change-view {
          display: inline-block;
          width: 100px;
          height: 59px;
          text-align: center;
          font-size: 14px;
          color: #1DD3B8;
          .view_icon {
            margin: 7px auto 5px;
            display: block;
            width: 28px;
            height: 28px;
            &.single_view {
              background: url("../../assets/imgs/icon_single_view.png") no-repeat;
            }
            &.more_view {
              background: url("../../assets/imgs/icon_more_view.png") no-repeat;
            }
            &.snap_view {
              background: url("../../assets/imgs/icon_snap.png") no-repeat;
            }
            &.record_view {
              background: url("../../assets/imgs/icon_record.png") no-repeat;
            }
            &.turning_view {
              background: url("../../assets/imgs/icon_turning.png") no-repeat;
            }
            &.turn_off_view {
              background: url("../../assets/imgs/icon_turn_off.png") no-repeat;
            }
            &.turn_off_all_view {
              background: url("../../assets/imgs/icon_turn_off_all.png") no-repeat;
            }
          }
          &:hover {
            //background-color: #1DD3B8;
            color: #fddd35;
            .view_icon {
              &.single_view {
                background: url("../../assets/imgs/icon_single_view_hover.png") no-repeat;
              }
              &.more_view {
                background: url("../../assets/imgs/icon_more_view_hover.png") no-repeat;
              }
              &.snap_view {
                background: url("../../assets/imgs/icon_snap_hover.png") no-repeat;
              }
              &.record_view {
                background: url("../../assets/imgs/icon_record_hover.png") no-repeat;
              }
              &.turning_view {
                background: url("../../assets/imgs/icon_turning_hover.png") no-repeat;
              }
              &.turn_off_view {
                background: url("../../assets/imgs/icon_turn_off_hover.png") no-repeat;
              }
              &.turn_off_all_view {
                background: url("../../assets/imgs/icon_turn_off_all_hover.png") no-repeat;
              }
            }
          }
        }
        .left-bar {
          float: left;
        }
        .right-bar {
          float: right;
        }
      }
    }
  }
  .el-dialog__body {
    padding: 10px 20px!important;
  }
}
