<template>
  <div class="video-patrol">
    <div class="patrol-content">
      <div class="tree-wrap">
        <div class="wrap-title">视频节点树</div>
        <div class="wrap-main">
          <el-tree
            :data="streamNodeTreeData"
            :props="videoTreeProps"
            :default-checked-keys="streamNodeTreeCheckedKeys"
            node-key="key"
            default-expand-all
            show-checkbox
            @node-click="onTreeItemSelect"
            @check="onStreamNodeTreeItemChecked"
          >
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>
                <i class="icon-tree-node"
                   :class="data.type === 'region' ? 'parent-node-tree-icon'
                   : data.slots.icon === 'open' ? 'qiu-node-tree-icon-open'
                   : 'qiu-node-tree-icon'"
                ></i>
                <span class="label-tree-node">{{ node.label }}</span>
              </span>
            </span>
          </el-tree>
        </div>
      </div>
      <div class="video-list">
        <div class="wrap-title">轮巡节点列表</div>
        <div class="wrap-main">
          <el-tree
            :data="checkedStreamNodes"
            :props="videoTreeProps"
            node-key="key"
            default-expand-all
          >
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>
                <i class="icon-tree-node"
                   :class="data.type === 'region' ? 'parent-node-tree-icon'
                   : data.slots.icon === 'open' ? 'qiu-node-tree-icon-open'
                   : 'qiu-node-tree-icon'"
                ></i>
                <span class="label-tree-node">{{ node.label }}</span>
              </span>
            </span>
          </el-tree>
        </div>
      </div>
      <div class="info-wrap">
        <div class="wrap-title">统计信息</div>
        <div class="wrap-main">
          <p>视频节点总数</p>
          <p style="margin-bottom: 30px">共 <span>{{streamNodeCount}}</span> 台</p>
          <p>已选中节点数</p>
          <p>共 <span>{{checkedStreamNodes.length}}</span> 台</p>
        </div>
        <div class="wrap-title set">参数设置</div>
        <div class="wrap-main">
          <p>轮巡间隔时间（秒）</p>
          <el-input v-model="patrolInterval" class="timeout" placeholder="输入轮巡间隔"></el-input>
        </div>
      </div>
    </div>
    <div class="patrol-footer">
      <el-button type="primary" @click="startVideoPatrol" v-if="!videoPatrolActive">开始轮巡</el-button>
      <el-button type="primary" @click="stopVideoPatrol" v-else="">停止轮巡</el-button>
      <el-button type="primary" @click="closeVideoPatrolModel">关闭窗口</el-button>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import VideoPatrol from './VideoPatrol.js'
export default VideoPatrol
</script>

<style lang="scss">
@import "VideoPatrol.scss";
</style>
