.video-patrol {
  .patrol-content {
    height: 500px;
    .wrap-title {
      font-size: 16px;
      color: #333;
      font-weight: bold;
      height: 30px;
      box-sizing: border-box;
    }
    .wrap-main {
      height: 448px;
      overflow-y: auto;
      .el-tree {
        .el-tree-node {
          .el-tree-node__content {
            position: relative;
            height: 40px;
            line-height: 40px;
            .el-tree-node__expand-icon {
              position: absolute;
              right: 20px;
              font-size: 16px;
            }
            .el-checkbox {
              margin-left: 10px;
              font-size: 16px;
              .el-checkbox__inner {
                width: 16px;
                height: 16px;
                &::after {
                  width: 4px;
                  height: 8px;
                }
                &::before {
                  top: 6px;
                }
              }
            }
            .custom-tree-node {
              padding-left: 5px;
              font-size: 0;
              .icon-tree-node {
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 16px;
                &.parent-node-tree-icon {
                  background: url("../../../assets/imgs/icon_tree_p.png") no-repeat;
                  background-size: 16px 16px;
                }
                // 球形机
                &.qiu-node-tree-icon {
                  background: url("../../../assets/imgs/icon_qiu.png") no-repeat;
                  background-size: 16px 16px;
                }
                &.qiu-node-tree-icon-open {
                  background: url("../../../assets/imgs/icon_qiu_o.png") no-repeat;
                  background-size: 16px 16px;
                }
              }
              .label-tree-node {
                padding-left: 8px;
                font-size: 15px;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
    .tree-wrap {
      float: left;
      padding: 10px;
      box-sizing: border-box;
      width: 300px;
      overflow-y: auto;
      border: 1px solid #eee;
    }
    .video-list {
      float: left;
      margin-left: 10px;
      padding: 10px;
      box-sizing: border-box;
      width: 220px;
      overflow-y: auto;
      border: 1px solid #eee;
    }
    .info-wrap {
      float: left;
      margin-left: 10px;
      padding: 10px;
      box-sizing: border-box;
      width: 220px;
      height: 500px;
      border: 1px solid #eee;
      .wrap-main {
        height: auto;
        p {
          font-size: 16px;
          height: 30px;
          line-height: 30px;
          span {
            color: #1DD3B8;
          }
        }
        .timeout {
          margin-top: 10px;
        }
      }
      .set {
        margin-top: 80px;
      }
    }
  }
  .patrol-footer {
    margin-top: 20px;
    text-align: center;
    .el-button+.el-button {
      margin-left: 40px;
    }
  }
}
