.video-space {
  padding: 5px 5px 0 5px;
  height: 100%;
  box-sizing: border-box;
  .view-main {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #fff;
    height: 100%;
    .tree-wrap {
      //width: 280px;
      height: calc(100% - 320px);
      overflow-y: auto;
      .el-tree {
        .el-tree-node {
          .el-tree-node__content {
            position: relative;
            height: 40px;
            line-height: 40px;
            .el-tree-node__expand-icon {
              position: absolute;
              right: 20px;
              font-size: 16px;
            }
            .custom-tree-node {
              padding-left: 20px;
              font-size: 0;
              .icon-tree-node {
                display: inline-block;
                vertical-align: middle;
                width: 18px;
                height: 18px;
                &.parent-node-tree-icon {
                  background: url("../../assets/imgs/icon_tree_p.png") no-repeat;
                  background-size: 18px 18px;
                }
                // 球形机
                &.qiu-node-tree-icon {
                  background: url("../../assets/imgs/icon_qiu.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiu-node-tree-icon-open {
                  background: url("../../assets/imgs/icon_qiu_o.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiu-node-tree-icon-warn {
                  background: url("../../assets/imgs/icon_qiu_w.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiu-node-tree-icon-disabled {
                  background: url("../../assets/imgs/icon_qiu_d.png") no-repeat;
                  background-size: 18px 18px;
                }
              }
              .label-tree-node {
                padding-left: 14px;
                font-size: 16px;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
    .right-side {
      flex: 1;
      //float: left;
      //width: calc(100% - 280px);
      overflow: hidden;
      height: 100%;
      border-left: 2px solid #ECECEC;
      box-sizing: border-box;
      .search-section {
        padding: 5px 15px;
        .form-item {
          display: inline-block;
          margin-right: 30px;
          padding: 10px 0;
          .el-button {
            padding: 0;
            height: 24px;
            width: 50px;
            font-weight: 400;
          }
        }
      }
      .table-section {
        .table-wrap {
          padding: 0 10px;
          .el-table {
            th, td {
              padding: 8px 0;
              text-align: center;
            }
            .col-btn {
              margin-right: 20px;
            }
          }
          .el-pagination {
            margin: 20px 0;
            text-align: right;
            font-weight: 400;
            &.is-background {
              .btn-prev, .btn-next, .el-pager li {
                margin: 0 2px;
              }
            }
            span:not([class*=suffix]) {
              min-width: 60px;
            }
          }
        }
      }
    }
  }

  .video-space-modal {
    padding: 0 30px;
    .video-space-form {
      .el-form-item {
        margin-top: 15px;
        margin-bottom: 5px;
        .el-form-item__label {
          font-size: 14px;
          line-height: 30px;
        }
        .el-form-item__content {
          line-height: 30px;
          .el-input {
            font-size: 14px;
            .el-input__inner {
              width: 300px;
              height: 30px;
              line-height: 30px;
            }
            .el-input__icon {
              line-height: 30px;
            }
            &.slot-input {
              .el-input__inner {
                width: 245px;
              }
            }
          }
        }
      }
      .form-btns {
        width: 100%;
        text-align: center;
        margin-top: 30px;
        margin-right: 0;
        .el-form-item__content {
          margin-left: 0!important;
        }
        .el-button {
          width: 120px;
        }
        .el-button+.el-button {
          margin-left: 30px;
        }
      }
    }
  }
}
