<template>
  <div class="video-space">
    <div class="view-main">
      <app-tree-side :isClose="isClose" @toggle="toggleTreeSide">
        <div class="tree-wrap">
          <el-tree
            ref="myTree"
            :data="serverNodeTreeData"
            :props="treeProps"
            node-key="id"
            default-expand-all
            highlight-current
            :expand-on-click-node="false"
            @node-click="onTreeItemSelect"
          >
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>
                <i class="icon-tree-node"
                   :class="data.type === 'region' ? 'parent-node-tree-icon'
                   : data.slots.icon === 'open' ? 'qiu-node-tree-icon-open'
                   : 'qiu-node-tree-icon'"
                ></i>
                <span class="label-tree-node">{{ node.label }}</span>
              </span>
            </span>
          </el-tree>
        </div>
      </app-tree-side>
      <div class="right-side">
        <div class="search-section">
          <div class="form-item">
            <el-button @click="addSpaceModelVisible = true" type="primary">新 增</el-button>
            <el-button type="primary">更 多</el-button>
          </div>
        </div>
        <div class="table-section">
          <div class="table-wrap">
            <el-table :data="tableData" height="800" stripe border style="width: 100%">
              <el-table-column label="序号" type="index" width="60"></el-table-column>
              <el-table-column label="名称" prop="name"></el-table-column>
              <el-table-column label="本地路径" prop="localPath"></el-table-column>
              <el-table-column label="虚拟路径" prop="virthalPath"></el-table-column>
              <el-table-column label="服务器" prop="serverName"></el-table-column>
              <el-table-column label="空间大小" prop="totalSize"></el-table-column>
              <el-table-column label="可用大小" prop="availableSize"></el-table-column>
              <el-table-column label="已用大小" prop="usedSize"></el-table-column>
              <el-table-column label="保留大小" prop="reservedSize"></el-table-column>
              <el-table-column label="操作" width="120">
                <template slot-scope="scope">
                  <a @click="openModifyDialog(scope.row)" href="javascript:;" class="col-btn"><img src="../../assets/imgs/icon_table-edit.png"/></a>
                  <a @click="deleteVideoSpace(scope.row)" href="javascript:;"><img src="../../assets/imgs/icon_table-del.png"/></a>
                </template>
              </el-table-column>
            </el-table>
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="queryParams.pageNum"
              :page-size="queryParams.pageSize"
              prev-text="上一页"
              next-text="下一页"
              layout="prev, pager, next, jumper"
              :total="totalRow">
            </el-pagination>
          </div>
        </div>
      </div>
    </div>

    <!--新增录像空间-->
    <el-dialog
      title="新增录像空间"
      :visible.sync="addSpaceModelVisible"
      width="500px"
      :before-close="closeAddSpaceModal"
      class="video-space-modal"
    >
      <el-form class="video-space-form" labelWidth="120px">
        <el-form-item label="名称" prop="name">
          <el-input v-model="addParams.name" placeholder="请输入名称"></el-input>
        </el-form-item>
        <el-form-item label="本地路径" prop="localPath">
          <el-input v-model="addParams.localPath" placeholder="请输入本地路径"></el-input>
        </el-form-item>
        <el-form-item label="虚拟路径" prop="virtualPath">
          <el-input v-model="addParams.virtualPath" placeholder="请输入虚拟路径"></el-input>
        </el-form-item>
        <el-form-item label="服务器" prop="serverId">
          <el-select v-model="addParams.serverId" placeholder="请选择服务器">
            <el-option v-for="(item, index) in serverData"
                       :key="'server' + index"
                       :label="item.name" :value="item.id"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="总大小" prop="totalSize">
          <el-input v-model.number="addParams.totalSize" placeholder="请输入总大小"></el-input>
        </el-form-item>
        <el-form-item label="可用大小" prop="availableSize">
          <el-input v-model.number="addParams.availableSize" placeholder="请输入可用大小"></el-input>
        </el-form-item>
        <el-form-item label="已用大小" prop="usedSize">
          <el-input v-model.number="addParams.usedSize" placeholder="请输入已用大小"></el-input>
        </el-form-item>
        <el-form-item label="保留大小" prop="reservedSize">
          <el-input v-model.number="addParams.reservedSize" placeholder="请输入保留大小"></el-input>
        </el-form-item>
        <el-form-item class="form-btns">
          <el-button @click="addSubmitHandle" type="primary">确定</el-button>
          <el-button @click="addCancelHandle">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
    <!--修改录像空间-->
    <el-dialog
      title="修改录像空间"
      :visible.sync="modifySpaceModelVisible"
      width="500px"
      :before-close="closeModifySpaceModal"
      class="video-space-modal"
    >
      <el-form class="video-space-form" labelWidth="120px">
        <el-form-item label="名称" prop="name">
          <el-input v-model="modifyParams.name" placeholder="请输入名称"></el-input>
        </el-form-item>
        <el-form-item label="本地路径" prop="localPath">
          <el-input v-model="modifyParams.localPath" placeholder="请输入本地路径"></el-input>
        </el-form-item>
        <el-form-item label="虚拟路径" prop="virtualPath">
          <el-input v-model="modifyParams.virtualPath" placeholder="请输入虚拟路径"></el-input>
        </el-form-item>
        <el-form-item label="服务器" prop="serverId">
          <el-select v-model="modifyParams.serverId" placeholder="请选择服务器">
            <el-option v-for="(item, index) in serverData"
                       :key="'server' + index"
                       :label="item.name" :value="item.id"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="总大小" prop="totalSize">
          <el-input v-model.number="modifyParams.totalSize" placeholder="请输入总大小"></el-input>
        </el-form-item>
        <el-form-item label="可用大小" prop="availableSize">
          <el-input v-model.number="modifyParams.availableSize" placeholder="请输入可用大小"></el-input>
        </el-form-item>
        <el-form-item label="已用大小" prop="usedSize">
          <el-input v-model.number="modifyParams.usedSize" placeholder="请输入已用大小"></el-input>
        </el-form-item>
        <el-form-item label="保留大小" prop="reservedSize">
          <el-input v-model.number="modifyParams.reservedSize" placeholder="请输入保留大小"></el-input>
        </el-form-item>
        <el-form-item class="form-btns">
          <el-button @click="modifySubmitHandle" type="primary">确定</el-button>
          <el-button @click="modifyCancelHandle">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script type="text/ecmascript-6">
import VideoSpace from './VideoSpace.js'
export default VideoSpace
</script>

<style lang="scss">
@import "../../styles/tablePage.scss";
@import "VideoSpace.scss";
</style>
