.app-tree-side {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  border-right: 1px solid #1DD3B8;
  box-sizing: border-box;
  overflow: hidden;
  &.side-close {
    margin-left: -285px;
    z-index: 888;
    .left-side-toggle-btn {
      left: -5px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  .left-side-toggle-btn {
    position: absolute;
    left: 270px;
    top: 50%;
    margin-top: -72px;
    width: 10px;
    height: 143px;
    background: url("../../assets/imgs/icon_left_side.png") no-repeat;
    background-size: 10px 143px;
    z-index: 999;
  }
}
