<template>
  <div class="app-tree-side" :class="isClose ? 'side-close' : ''">
    <div class="left-side-toggle-btn" @click="toggleTreeMenu"></div>
    <slot></slot>
  </div>
</template>

<script type="text/ecmascript-6">
import AppTreeSide from './AppTreeSide.js'
export default AppTreeSide
</script>

<style lang="scss">
@import "AppTreeSide.scss";
</style>
