.ang-layout {
  position: relative;
  height: 100%;
  width: 100%;
  .layout-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .layout-content {
    position: relative;
    height: 100%;
    //overflow: hidden;
    .layout-side {
      position: fixed;
      top: 80px;
      left: 0;
      z-index: 1000;
    }
    .layout-main {
      position: absolute;
      padding-top: 80px;
      box-sizing: border-box;
      min-height: 100%;
      .layout-breadcrumb {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        z-index: 1000;
      }
      .layout-view {
        padding-top: 30px;
      }
    }
  }
}
