.app-sidebar {
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  //.slide-enter {
  //  transform: translateX(-100%)
  //}
  //.slide-leave-to {
  //  transform: translateX(0)
  //}
  //.slide-enter-active, .slide-leave-active {
  //  transition: all .3s
  //}
  .el-menu-sidebar {
    height: 100%;
    border-right: 1px solid #1DD3B8;
    overflow-y: auto;
    &.el-menu--collapse {
      .el-submenu__title {
        .el-submenu__icon-arrow, span {
          display: none;
        }
      }
    }
    .el-menu-item {
      font-size: 16px;
      &.is-active {
        background-color: #e9fbf8;
        border-right: 3px solid #1DD3B8;
      }
    }
    .el-submenu {
      .el-submenu__title {
        font-size: 16px;
        .el-submenu__icon-arrow {
          font-size: 16px;
          color: #666;
          font-weight: bold;
        }
      }
      .el-menu--inline {
        .el-menu-item {
          min-width: 198px;
          &::before {
            display: inline-block;
            margin-right: 22px;
            content: '';
            width: 8px;
            height: 8px;
            background-color: #cecece;
            border-radius: 50%;
          }
          &.is-active {
            &::before {
              background-color: #fddf42;
            }
          }
        }
      }
    }
  }
}
