.app-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  vertical-align: top;
  width: 700px;
  height: 80px;
  .el-menu.el-menu--horizontal {
    border-bottom: none;
    .el-menu-item {
      padding: 0;
      padding-top: 15px;
      height: 80px;
      line-height: 1;
      width: 100px;
      text-align: center;
      box-sizing: border-box;
      font-size: 16px;
      img {
        margin-bottom: 10px;
        width: 28px;
        height: 28px;
      }
      &.is-active {
        border-bottom: none;
        border-bottom-color: #4CEBBC!important;
        background-color: #4CEBBC!important;
      }
      //&:hover {
      //  background-color: #4CEBBC!important;
      //}
    }
  }
}
