<template>
  <div class="video-task table-page">
    <div class="view-main">
      <div class="search-section">
        <div class="form-item">
          <div class="form-label">录像存储服务</div>
          <div class="form-content">
            <el-select v-model.number="taskParams.serviceId" placeholder="请选择录像存储服务">
              <el-option
                v-for="(item, index) in serviceData"
                :key="'service' + index"
                :value="item.id"
                :label="item.name"></el-option>
            </el-select>
          </div>
        </div>
        <div class="form-item">
          <el-button @click="search" type="primary">查 询</el-button>
          <el-button @click="reset" type="primary">重 置</el-button>
        </div>
      </div>
      <div class="table-section">
        <div class="table-btns">
          <el-button @click="openAddTaskModal" type="primary">新 增</el-button>
          <el-button type="primary">更 多</el-button>
        </div>
        <div class="table-wrap">
          <el-table
            ref="taskTable"
            :data="taskTableData"
            height="442"
            stripe
            border
            highlight-current-row
            @current-change="handleCurrentChangeTable"
            style="width: 100%">
            <el-table-column type="selection" width="40"></el-table-column>
            <el-table-column label="序号" type="index" width="60"></el-table-column>
            <el-table-column label="名称" prop="name" width="160" :show-overflow-tooltip="true"></el-table-column>
            <el-table-column label="运行方式" prop="runMode">
              <template slot-scope="scope">
                {{
                  scope.row.runMode === 0 ? '手动'
                    : scope.row.runMode === 1 ? '自动'
                      : scope.row.runMode === 2 ? '计划'
                        : scope.row.runMode === 3 ? '事件触发'
                          : ''
                }}
              </template>
            </el-table-column>
            <el-table-column label="录像方式" prop="recordMethod" width="140">
              <template slot-scope="scope">
                {{
                  scope.row.recordMethod === 0 ? '本地录像'
                    : scope.row.recordMethod === 1 ? '远程录像'
                      : ''
                }}
              </template>
            </el-table-column>
            <el-table-column label="流打开模式" prop="streamOpenMode">
              <template slot-scope="scope">
                {{
                  scope.row.streamOpenMode === 255 ? '由视频节点自身属性决定'
                  : scope.row.streamOpenMode === 1 ? '子码流'
                  : scope.row.streamOpenMode === 2 ? '子码流2'
                  : scope.row.streamOpenMode === 0 ? '主码流'
                  : ''
                }}
              </template>
            </el-table-column>
            <el-table-column label="录像文件格式" prop="recordFileFormat">
              <template slot-scope="scope">
                {{
                  scope.row.recordFileFormat === 0 ? '原始流'
                    : scope.row.recordFileFormat === 1 ? '自定义封装'
                      : scope.row.recordFileFormat === 2 ? 'mp4'
                        : scope.row.recordFileFormat === 3 ? 'flv'
                          : scope.row.recordFileFormat === 254 ? '其他'
                            : ''
                }}
              </template>
            </el-table-column>
            <el-table-column label="录像间隔" prop="recordInterval">
              <template slot-scope="scope">
                {{ scope.row.recordInterval }}秒
              </template>
            </el-table-column>
            <el-table-column label="录像文件大小" prop="recordFileSize">
              <template slot-scope="scope">
                {{ scope.row.recordFileSize === 0 ? '不限制' : scope.row.recordFileSize }}
              </template>
            </el-table-column>
            <el-table-column label="运行时刻表" prop="runScheduleId">
              <template slot-scope="scope">
                {{
                  scope.row.runScheduleId === 0 ? '不按时刻表运行'
                    : scope.row.runScheduleId === 1 ? '按时刻表运行'
                    : ''
                }}
              </template>
            </el-table-column>
            <el-table-column label="录像存储服务" prop="serviceName"></el-table-column>
            <el-table-column label="适用范围" prop="scope" :show-overflow-tooltip="true">
              <template slot-scope="scope">
                {{
                  scope.row.scope === 0 ? '由录像任务2视频节点决定'
                    : scope.row.scope === 1 ? '所有视频节点'
                    : ''
                }}
              </template>
            </el-table-column>
            <el-table-column label="任务状态" prop="runState">
              <template slot-scope="scope">
                {{
                  scope.row.runState === 0 ? '停止'
                    : scope.row.runState === 1 ? '活动'
                    : '停止'
                }}
              </template>
            </el-table-column>
            <el-table-column label="操作" width="120">
              <template slot-scope="scope">
                <a @click="openModifyTaskModal(scope.row)" href="javascript:;" class="col-btn"><img src="../../assets/imgs/icon_table-edit.png"/></a>
                <a @click="deleteRecordTask(scope.row)" href="javascript:;" class="col-btn"><img src="../../assets/imgs/icon_table-del.png"/></a>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            background
            @current-change="handleTaskCurrentChange"
            :current-page.sync="taskParams.pageNum"
            :page-size="taskParams.pageSize"
            prev-text="上一页"
            next-text="下一页"
            layout="prev, pager, next, jumper"
            :total="taskTotalRow">
          </el-pagination>
        </div>
      </div>
      <div class="table-section children-table">
        <div class="table-wrap">
          <el-tabs v-model="infoTabActive">
            <el-tab-pane label="录像空间" name="0">
              <div class="table-btns">
                <el-button @click="openSpaceTaskModal" type="primary">新 增</el-button>
                <el-button type="primary">更 多</el-button>
              </div>
              <el-table
                ref="spaceTable"
                :data="spaceTableData"
                height="266"
                stripe
                border
                style="width: 100%">
                <el-table-column type="selection" width="40"></el-table-column>
                <el-table-column label="序号" type="index" width="60"></el-table-column>
                <el-table-column label="名称" prop="name" width="160"></el-table-column>
                <el-table-column label="本地路径" prop="localPath"></el-table-column>
                <el-table-column label="虚拟路径" prop="virtualPath" width="140"></el-table-column>
                <!--<el-table-column label="服务器" prop="serverId"></el-table-column>-->
                <el-table-column label="空间大小" prop="totalSize"></el-table-column>
                <el-table-column label="可用大小" prop="availableSize"></el-table-column>
                <el-table-column label="已用大小" prop="usedSize"></el-table-column>
                <el-table-column label="操作" width="120">
                  <template slot-scope="scope">
                    <!--<a href="javascript:;" class="col-btn"><img src="../../assets/imgs/icon_table-edit.png"/></a>-->
                    <a @click="deleteRecordSpace(scope.row)" href="javascript:;" class="col-btn"><img src="../../assets/imgs/icon_table-del.png"/></a>
                  </template>
                </el-table-column>
              </el-table>
              <el-pagination
                background
                @current-change="handleSpaceCurrentChange"
                :current-page.sync="spaceParams.pageNum"
                :page-size="spaceParams.pageSize"
                prev-text="上一页"
                next-text="下一页"
                layout="prev, pager, next, jumper"
                :total="spaceTotalRow">
              </el-pagination>
            </el-tab-pane>
            <el-tab-pane label="视频节点" name="1">
              <div class="table-btns">
                <el-button @click="openStreamTaskModal" type="primary">新 增</el-button>
                <el-button type="primary">更 多</el-button>
              </div>
              <el-table
                ref="streamTable"
                :data="streamTableData"
                height="266"
                stripe
                border
                style="width: 100%">
                <el-table-column type="selection" width="40"></el-table-column>
                <el-table-column label="序号" type="index" width="60"></el-table-column>
                <el-table-column label="名称" prop="name"></el-table-column>
                <el-table-column label="录像状态" prop="centerRecordState">
                  <template slot-scope="scope">
                    {{
                    scope.row.centerRecordState === 0 ? '未知'
                      : scope.row.centerRecordState === 1 ? '停止'
                      : scope.row.centerRecordState === 2 ? '录像中'
                      : scope.row.centerRecordState === 3 ? '录像异常'
                        : ''
                    }}
                  </template>
                </el-table-column>
                <el-table-column label="操作" width="120">
                  <template slot-scope="scope">
                    <a @click="deleteStream(scope.row)" href="javascript:;" class="col-btn"><img src="../../assets/imgs/icon_table-del.png"/></a>
                  </template>
                </el-table-column>
              </el-table>
              <el-pagination
                background
                @current-change="handleSpaceCurrentChange"
                :current-page.sync="streamParams.pageNum"
                :page-size="streamParams.pageSize"
                prev-text="上一页"
                next-text="下一页"
                layout="prev, pager, next, jumper"
                :total="streamTotalRow">
              </el-pagination>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </div>

    <!--新增录像任务弹窗-->
    <el-dialog
      title="新增录像任务"
      :visible.sync="addTaskModelVisible"
      width="1000px"
      :before-close="closeAddTaskModal"
      class="video-task-modal"
    >
      <add-video-task :serviceData="serviceData" @submit="submitAddTask" @cancel="cancelAddTask"></add-video-task>
    </el-dialog>
    <!--修改录像任务弹窗-->
    <el-dialog
      title="修改录像任务"
      :visible.sync="modifyTaskModelVisible"
      width="1000px"
      :before-close="closeModifyTaskModal"
      class="video-task-modal"
    >
      <modify-video-task :serviceData="serviceData" :value="modifyProps" @submit="submitModifyTask" @cancel="cancelModifyTask"></modify-video-task>
    </el-dialog>
    <!--新增录像空间弹窗-->
    <el-dialog
      title="新增录像空间"
      :visible.sync="addSpaceModelVisible"
      width="1000px"
      :before-close="closeAddSpaceModal"
      class="video-task-modal"
    >
      <add-record-space :taskId="currentTaskId" @submit="submitAddSpace" @cancel="cancelAddSpace"></add-record-space>
    </el-dialog>
    <!--新增视频节点弹窗-->
    <el-dialog
      title="新增视频节点"
      :visible.sync="addStreamModelVisible"
      width="1000px"
      :before-close="closeAddStreamModal"
      class="video-task-modal"
    >
      <add-stream :taskId="currentTaskId" @submit="submitAddStream" @cancel="cancelAddStream"></add-stream>
    </el-dialog>
  </div>
</template>

<script type="text/ecmascript-6">
import VideoTask from './VideoTask.js'
export default VideoTask
</script>

<style lang="scss">
@import "../../styles/tablePage.scss";
@import "VideoTask.scss";
</style>
