.video-task {
  min-height: 1050px;
  background-color: #ECECEC;
  .children-table {
    border-top: 5px solid #ECECEC;
    .table-btns {
      margin-top: 15px;
    }
    .table-wrap {
      .el-tabs {
        .el-tabs__nav-wrap {
          &::after {
            height: 1px;
            background-color: #1DD3B8;
          }
          .el-tabs__active-bar {
            height: 0;
          }
          .el-tabs__item {
            font-weight: 400;
            font-size: 16px;
            &.is-active {
              background-color: #1DD3B8;
              color: #fff;
            }
            &.is-top:nth-child(2) {
              padding-left: 20px;
            }
            &.is-top:last-child {
              padding-right: 20px;
            }
          }
        }
        .el-tabs__header {
          margin-bottom: 0;
        }
        .el-tab-pane {
          height: 400px;
        }
      }
    }
  }
}
