<template>
  <div class="monitor-equipment"></div>
</template>

<script type="text/ecmascript-6">
import MonitorEquipment from './MonitorEquipment.js'
export default MonitorEquipment
</script>

<style lang="scss">
@import "MonitorEquipment.scss";
</style>
