<template>
  <div class="video-diagnostic-statistics">
    <div class="view-main">
      <app-tree-side :isClose="isClose" @toggle="toggleTreeSide">
        <div class="tree-wrap">
          <el-tree
            ref="myTree"
            :data="streamNodeTreeData"
            node-key="id"
            default-expand-all
            highlight-current
            :expand-on-click-node="false"
            @node-click="onTreeItemSelect"
          >
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>
                <i class="icon-tree-node"
                   :class="data.type === 'region' ? 'parent-node-tree-icon'
                   : data.slots.icon === 'open' ? 'qiu-node-tree-icon-open'
                   : 'qiu-node-tree-icon'"
                ></i>
                <span class="label-tree-node">{{ node.label }}</span>
              </span>
            </span>
          </el-tree>
        </div>
      </app-tree-side>
      <div class="right-side">
        <div class="search-wrap">
          <el-date-picker
            v-model="statDate"
            type="date"
            value-format="yyyyMMdd"
            placeholder="统计日期">
          </el-date-picker>
          <el-button @click="searchHandle" type="primary">确定</el-button>
          <el-button @click="resetHandle" type="primary">重置</el-button>
        </div>
        <div class="charts-section">
          <div class="chart-content">
            <div class="chart-title">各种状态视频数量占比</div>
            <div class="chart-main">
              <annular-pie
                ref="annularPie"
                :source="pieData"
                :color="pieColor"
                :title="pieTitle"
                :legend="pieLegend"
              ></annular-pie>
            </div>
          </div>
          <div class="chart-content">
            <div class="chart-title">各区域视频接入及异常数统计</div>
            <div class="chart-main">
              <bar
                ref="bar"
                :source="barData"
                :color="barColor"
              ></bar>
            </div>
          </div>
        </div>
        <div class="table-section">
          <el-table :data="tableData" height="395" stripe border style="width: 100%">
            <el-table-column label="序号" type="index" width="60"></el-table-column>
            <el-table-column label="区域" prop="regionName"></el-table-column>
            <el-table-column label="接入数" prop="totalCount" width="100"></el-table-column>
            <el-table-column label="正常" prop="normalCount" width="100"></el-table-column>
            <el-table-column label="偏暗" prop="brightLowCount" width="100"></el-table-column>
            <el-table-column label="偏亮" prop="brightHighCount" width="100"></el-table-column>
            <el-table-column label="偏色" prop="colorCastCount" width="100"></el-table-column>
            <el-table-column label="噪声" prop="noiseCount" width="100"></el-table-column>
            <el-table-column label="条纹" prop="striageCount" width="100"></el-table-column>
            <el-table-column label="图像模糊" prop="contrastLowCount" width="100"></el-table-column>
            <el-table-column label="画面冻结" prop="freezeCount" width="100"></el-table-column>
            <el-table-column label="视频丢失" prop="lostCount" width="100"></el-table-column>
            <el-table-column label="画面抖动" prop="shakeCount" width="100"></el-table-column>
            <el-table-column label="统计日期" prop="statDateTime" width="150"></el-table-column>
          </el-table>
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="statisticsParamsByChild.pageNum"
            :page-size="statisticsParamsByChild.pageSize"
            prev-text="上一页"
            next-text="下一页"
            layout="prev, pager, next, jumper"
            :total="totalRow">
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import VideoDiagnosticStatistics from './VideoDiagnosticStatistics.js'
export default VideoDiagnosticStatistics
</script>

<style lang="scss">
@import "VideoDiagnosticStatistics.scss";
</style>
