.video-diagnostic-statistics {
  padding: 5px;
  height: 100%;
  min-height: 930px;
  box-sizing: border-box;
  .view-main {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #fff;
    height: 100%;
    .tree-wrap {
      height: calc(100% - 320px);
      overflow-y: auto;
      .el-tree {
        .el-tree-node {
          .el-tree-node__content {
            position: relative;
            height: 40px;
            line-height: 40px;
            .el-tree-node__expand-icon {
              position: absolute;
              right: 20px;
              font-size: 16px;
            }
            .custom-tree-node {
              padding-left: 20px;
              font-size: 0;
              .icon-tree-node {
                display: inline-block;
                vertical-align: middle;
                width: 18px;
                height: 18px;
                &.parent-node-tree-icon {
                  background: url("../../assets/imgs/icon_tree_p.png") no-repeat;
                  background-size: 18px 18px;
                }
                // 球形机
                &.qiu-node-tree-icon {
                  background: url("../../assets/imgs/icon_qiu.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiu-node-tree-icon-open {
                  background: url("../../assets/imgs/icon_qiu_o.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiu-node-tree-icon-warn {
                  background: url("../../assets/imgs/icon_qiu_w.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiu-node-tree-icon-disabled {
                  background: url("../../assets/imgs/icon_qiu_d.png") no-repeat;
                  background-size: 18px 18px;
                }
              }
              .label-tree-node {
                padding-left: 14px;
                font-size: 16px;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
    .right-side {
      flex: 1;
      //float: left;
      //width: calc(100% - 280px);
      overflow: hidden;
      height: 100%;
      border-left: 2px solid #ECECEC;
      box-sizing: border-box;
      .search-wrap {
        padding: 10px;
        .el-date-editor.el-input {
          margin-right: 20px;
        }
        .el-input__inner {
          height: 24px;
        }
        .el-input__icon {
          line-height: 24px;
        }
        .el-button {
          padding: 0;
          height: 24px;
          width: 50px;
          font-weight: 400;
        }
      }
      .charts-section {
        height: 420px;
        .chart-content {
          float: left;
          padding: 0 5px;
          width: 50%;
          height: 100%;
          border-right: 2px solid #ECECEC;
          border-bottom: 2px solid #ECECEC;
          box-sizing: border-box;
          &:last-child {
            border-right: none;
          }
          .chart-title {
            padding: 10px 0;
            color: #333;
            font-size: 16px;
            border-bottom: 1px solid #F5F5F5;
            &::before {
              margin: 0 5px;
              display: inline-block;
              content: '';
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: #1DD3B8;
            }
          }
          .chart-main {
            height: calc(100% - 37px);
          }
        }
      }
      .table-section {
        .el-table {
          th, td {
            padding: 8px 0;
            text-align: center;
          }
        }
        .el-pagination {
          margin: 15px 0;
          text-align: right;
          font-weight: 400;
          &.is-background {
            .btn-prev, .btn-next, .el-pager li {
              margin: 0 2px;
            }
          }
          span:not([class*=suffix]) {
            min-width: 60px;
          }
        }
      }
    }
  }
}
