<template>
  <div class="add-video-task">
    <div class="tree-wrap">
      <el-tree
        ref="myTree"
        :data="streamNodeTreeData"
        :props="videoTreeProps"
        node-key="id"
        default-expand-all
        highlight-current
        :expand-on-click-node="false"
        @node-click="onTreeItemSelect"
      >
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>
                <i class="icon-tree-node"
                   :class="data.type === 'region' ? 'parent-node-tree-icon'
                   : data.slots.icon === 'open' ? 'qiu-node-tree-icon-open'
                   : 'qiu-node-tree-icon'"
                ></i>
                <span class="label-tree-node">{{ node.label }}</span>
              </span>
            </span>
      </el-tree>
    </div>
    <div class="table-wrap">
      <el-table
        ref="streamTable"
        :data="streamTableData"
        height="441"
        stripe
        border
        @selection-change="handleSelectionChange"
        style="width: 100%">
        <el-table-column type="selection" width="40"></el-table-column>
        <el-table-column label="序号" type="index" width="60"></el-table-column>
        <el-table-column label="名称" prop="name"></el-table-column>
        <el-table-column label="录像状态" prop="centerRecordState" width="220">
          <template slot-scope="scope">
            {{
            scope.row.centerRecordState === 0 ? '未知'
            : scope.row.centerRecordState === 1 ? '停止'
            : scope.row.centerRecordState === 2 ? '录像中'
            : scope.row.centerRecordState === 3 ? '录像异常'
            : ''
            }}
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        background
        @current-change="handleStreamCurrentChange"
        :current-page.sync="streamParams.pageNum"
        :page-size="streamParams.pageSize"
        prev-text="上一页"
        next-text="下一页"
        layout="prev, pager, next, jumper"
        :total="streamTotalRow">
      </el-pagination>
    </div>

    <div class="btns">
      <el-button @click="submit" type="primary">确定</el-button>
      <el-button @click="cancel">取消</el-button>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import AddStream from './AddStream.js'
export default AddStream
</script>

<style lang="scss">
@import "AddStream.scss";
</style>
