.add-video-task {
  padding: 0 10px;
  .tree-wrap {
    display: inline-block;
    width: 280px;
    vertical-align: top;
    height: 510px;
    border: 1px solid #eee;
    margin-right: 2px;
    .el-tree {
      height: 100%;
      .el-tree-node {
        .el-tree-node__content {
          position: relative;
          height: 40px;
          line-height: 40px;
          .el-tree-node__expand-icon {
            position: absolute;
            right: 20px;
            font-size: 14px;
          }
          .custom-tree-node {
            padding-left: 20px;
            font-size: 0;
            .icon-tree-node {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              &.parent-node-tree-icon {
                background: url("../../../assets/imgs/icon_tree_p.png") no-repeat;
                background-size: 16px 16px;
              }
              // 球形机
              &.qiu-node-tree-icon {
                background: url("../../../assets/imgs/icon_qiu.png") no-repeat;
                background-size: 16px 16px;
              }
              &.qiu-node-tree-icon-open {
                background: url("../../../assets/imgs/icon_qiu_o.png") no-repeat;
                background-size: 16px 16px;
              }
              &.qiu-node-tree-icon-warn {
                background: url("../../../assets/imgs/icon_qiu_w.png") no-repeat;
                background-size: 16px 16px;
              }
              &.qiu-node-tree-icon-disabled {
                background: url("../../../assets/imgs/icon_qiu_d.png") no-repeat;
                background-size: 16px 16px;
              }
              &.industry-node-tree-icon {
                background: url("../../../assets/imgs/icon_industry.png") no-repeat;
                background-size: 16px 16px;
              }
            }
            .label-tree-node {
              padding-left: 14px;
              font-size: 14px;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
  .table-wrap {
    display: inline-block;
    width: calc(100% - 300px);
    .el-table {
      .current-row>td {
        background: rgba(76, 235, 188, .3);
      }
      th, td {
        padding: 8px 0;
        text-align: center;
      }
      .col-btn {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .el-pagination {
      margin: 20px 0;
      text-align: right;
      font-weight: 400;
      &.is-background {
        .btn-prev, .btn-next, .el-pager li {
          margin: 0 2px;
        }
      }
      span:not([class*=suffix]) {
        min-width: 60px;
      }
    }
  }

  .btns {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-right: 0;
    .el-button {
      width: 120px;
    }
    .el-button+.el-button {
      margin-left: 30px;
    }
  }
}
