body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: .875rem !important;
  font-weight: 400;
  line-height: 1.5;
  color: #263238;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}

.h1, h1 {
  font-size: 2.5rem
}

.h2, h2 {
  font-size: 2rem
}

.h3, h3 {
  font-size: 1.75rem
}

.h4, h4 {
  font-size: 1.5rem
}

.h5, h5 {
  font-size: 1.25rem
}

.h6, h6 {
  font-size: 1rem
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem
}

article, aside, footer, header, nav, section {
  display: block
}

img {
  vertical-align: middle;
  border-style: none
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

@media (min-width: 576px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 768px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 992px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 1200px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 15px;
    padding-left: 15px
  }
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%
}

.col-auto {
  flex: 0 0 auto;
  width: auto
}

.col-1 {
  width: 8.33333%
}

.col-2 {
  width: 16.66667%
}

.col-3 {
  width: 25%
}

.col-4 {
  width: 33.33333%
}

.col-5 {
  width: 41.66667%
}

.col-6 {
  width: 50%
}

.col-7 {
  width: 58.33333%
}

.col-8 {
  width: 66.66667%
}

.col-9 {
  width: 75%
}

.col-10 {
  width: 83.33333%
}

.col-11 {
  width: 91.66667%
}

.col-12 {
  width: 100%
}

.pull-0 {
  right: auto
}

.pull-1 {
  right: 8.33333%
}

.pull-2 {
  right: 16.66667%
}

.pull-3 {
  right: 25%
}

.pull-4 {
  right: 33.33333%
}

.pull-5 {
  right: 41.66667%
}

.pull-6 {
  right: 50%
}

.pull-7 {
  right: 58.33333%
}

.pull-8 {
  right: 66.66667%
}

.pull-9 {
  right: 75%
}

.pull-10 {
  right: 83.33333%
}

.pull-11 {
  right: 91.66667%
}

.pull-12 {
  right: 100%
}

.push-0 {
  left: auto
}

.push-1 {
  left: 8.33333%
}

.push-2 {
  left: 16.66667%
}

.push-3 {
  left: 25%
}

.push-4 {
  left: 33.33333%
}

.push-5 {
  left: 41.66667%
}

.push-6 {
  left: 50%
}

.push-7 {
  left: 58.33333%
}

.push-8 {
  left: 66.66667%
}

.push-9 {
  left: 75%
}

.push-10 {
  left: 83.33333%
}

.push-11 {
  left: 91.66667%
}

.push-12 {
  left: 100%
}

.offset-1 {
  margin-left: 8.33333%
}

.offset-2 {
  margin-left: 16.66667%
}

.offset-3 {
  margin-left: 25%
}

.offset-4 {
  margin-left: 33.33333%
}

.offset-5 {
  margin-left: 41.66667%
}

.offset-6 {
  margin-left: 50%
}

.offset-7 {
  margin-left: 58.33333%
}

.offset-8 {
  margin-left: 66.66667%
}

.offset-9 {
  margin-left: 75%
}

.offset-10 {
  margin-left: 83.33333%
}

.offset-11 {
  margin-left: 91.66667%
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto
  }

  .col-sm-1 {
    width: 8.33333%
  }

  .col-sm-2 {
    width: 16.66667%
  }

  .col-sm-3 {
    width: 25%
  }

  .col-sm-4 {
    width: 33.33333%
  }

  .col-sm-5 {
    width: 41.66667%
  }

  .col-sm-6 {
    width: 50%
  }

  .col-sm-7 {
    width: 58.33333%
  }

  .col-sm-8 {
    width: 66.66667%
  }

  .col-sm-9 {
    width: 75%
  }

  .col-sm-10 {
    width: 83.33333%
  }

  .col-sm-11 {
    width: 91.66667%
  }

  .col-sm-12 {
    width: 100%
  }

  .pull-sm-0 {
    right: auto
  }

  .pull-sm-1 {
    right: 8.33333%
  }

  .pull-sm-2 {
    right: 16.66667%
  }

  .pull-sm-3 {
    right: 25%
  }

  .pull-sm-4 {
    right: 33.33333%
  }

  .pull-sm-5 {
    right: 41.66667%
  }

  .pull-sm-6 {
    right: 50%
  }

  .pull-sm-7 {
    right: 58.33333%
  }

  .pull-sm-8 {
    right: 66.66667%
  }

  .pull-sm-9 {
    right: 75%
  }

  .pull-sm-10 {
    right: 83.33333%
  }

  .pull-sm-11 {
    right: 91.66667%
  }

  .pull-sm-12 {
    right: 100%
  }

  .push-sm-0 {
    left: auto
  }

  .push-sm-1 {
    left: 8.33333%
  }

  .push-sm-2 {
    left: 16.66667%
  }

  .push-sm-3 {
    left: 25%
  }

  .push-sm-4 {
    left: 33.33333%
  }

  .push-sm-5 {
    left: 41.66667%
  }

  .push-sm-6 {
    left: 50%
  }

  .push-sm-7 {
    left: 58.33333%
  }

  .push-sm-8 {
    left: 66.66667%
  }

  .push-sm-9 {
    left: 75%
  }

  .push-sm-10 {
    left: 83.33333%
  }

  .push-sm-11 {
    left: 91.66667%
  }

  .push-sm-12 {
    left: 100%
  }

  .offset-sm-0 {
    margin-left: 0
  }

  .offset-sm-1 {
    margin-left: 8.33333%
  }

  .offset-sm-2 {
    margin-left: 16.66667%
  }

  .offset-sm-3 {
    margin-left: 25%
  }

  .offset-sm-4 {
    margin-left: 33.33333%
  }

  .offset-sm-5 {
    margin-left: 41.66667%
  }

  .offset-sm-6 {
    margin-left: 50%
  }

  .offset-sm-7 {
    margin-left: 58.33333%
  }

  .offset-sm-8 {
    margin-left: 66.66667%
  }

  .offset-sm-9 {
    margin-left: 75%
  }

  .offset-sm-10 {
    margin-left: 83.33333%
  }

  .offset-sm-11 {
    margin-left: 91.66667%
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto
  }

  .col-md-1 {
    width: 8.33333%
  }

  .col-md-2 {
    width: 16.66667%
  }

  .col-md-3 {
    width: 25%
  }

  .col-md-4 {
    width: 33.33333%
  }

  .col-md-5 {
    width: 41.66667%
  }

  .col-md-6 {
    width: 50%
  }

  .col-md-7 {
    width: 58.33333%
  }

  .col-md-8 {
    width: 66.66667%
  }

  .col-md-9 {
    width: 75%
  }

  .col-md-10 {
    width: 83.33333%
  }

  .col-md-11 {
    width: 91.66667%
  }

  .col-md-12 {
    width: 100%
  }

  .pull-md-0 {
    right: auto
  }

  .pull-md-1 {
    right: 8.33333%
  }

  .pull-md-2 {
    right: 16.66667%
  }

  .pull-md-3 {
    right: 25%
  }

  .pull-md-4 {
    right: 33.33333%
  }

  .pull-md-5 {
    right: 41.66667%
  }

  .pull-md-6 {
    right: 50%
  }

  .pull-md-7 {
    right: 58.33333%
  }

  .pull-md-8 {
    right: 66.66667%
  }

  .pull-md-9 {
    right: 75%
  }

  .pull-md-10 {
    right: 83.33333%
  }

  .pull-md-11 {
    right: 91.66667%
  }

  .pull-md-12 {
    right: 100%
  }

  .push-md-0 {
    left: auto
  }

  .push-md-1 {
    left: 8.33333%
  }

  .push-md-2 {
    left: 16.66667%
  }

  .push-md-3 {
    left: 25%
  }

  .push-md-4 {
    left: 33.33333%
  }

  .push-md-5 {
    left: 41.66667%
  }

  .push-md-6 {
    left: 50%
  }

  .push-md-7 {
    left: 58.33333%
  }

  .push-md-8 {
    left: 66.66667%
  }

  .push-md-9 {
    left: 75%
  }

  .push-md-10 {
    left: 83.33333%
  }

  .push-md-11 {
    left: 91.66667%
  }

  .push-md-12 {
    left: 100%
  }

  .offset-md-0 {
    margin-left: 0
  }

  .offset-md-1 {
    margin-left: 8.33333%
  }

  .offset-md-2 {
    margin-left: 16.66667%
  }

  .offset-md-3 {
    margin-left: 25%
  }

  .offset-md-4 {
    margin-left: 33.33333%
  }

  .offset-md-5 {
    margin-left: 41.66667%
  }

  .offset-md-6 {
    margin-left: 50%
  }

  .offset-md-7 {
    margin-left: 58.33333%
  }

  .offset-md-8 {
    margin-left: 66.66667%
  }

  .offset-md-9 {
    margin-left: 75%
  }

  .offset-md-10 {
    margin-left: 83.33333%
  }

  .offset-md-11 {
    margin-left: 91.66667%
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto
  }

  .col-lg-1 {
    width: 8.33333%
  }

  .col-lg-2 {
    width: 16.66667%
  }

  .col-lg-3 {
    width: 25%
  }

  .col-lg-4 {
    width: 33.33333%
  }

  .col-lg-5 {
    width: 41.66667%
  }

  .col-lg-6 {
    width: 50%
  }

  .col-lg-7 {
    width: 58.33333%
  }

  .col-lg-8 {
    width: 66.66667%
  }

  .col-lg-9 {
    width: 75%
  }

  .col-lg-10 {
    width: 83.33333%
  }

  .col-lg-11 {
    width: 91.66667%
  }

  .col-lg-12 {
    width: 100%
  }

  .pull-lg-0 {
    right: auto
  }

  .pull-lg-1 {
    right: 8.33333%
  }

  .pull-lg-2 {
    right: 16.66667%
  }

  .pull-lg-3 {
    right: 25%
  }

  .pull-lg-4 {
    right: 33.33333%
  }

  .pull-lg-5 {
    right: 41.66667%
  }

  .pull-lg-6 {
    right: 50%
  }

  .pull-lg-7 {
    right: 58.33333%
  }

  .pull-lg-8 {
    right: 66.66667%
  }

  .pull-lg-9 {
    right: 75%
  }

  .pull-lg-10 {
    right: 83.33333%
  }

  .pull-lg-11 {
    right: 91.66667%
  }

  .pull-lg-12 {
    right: 100%
  }

  .push-lg-0 {
    left: auto
  }

  .push-lg-1 {
    left: 8.33333%
  }

  .push-lg-2 {
    left: 16.66667%
  }

  .push-lg-3 {
    left: 25%
  }

  .push-lg-4 {
    left: 33.33333%
  }

  .push-lg-5 {
    left: 41.66667%
  }

  .push-lg-6 {
    left: 50%
  }

  .push-lg-7 {
    left: 58.33333%
  }

  .push-lg-8 {
    left: 66.66667%
  }

  .push-lg-9 {
    left: 75%
  }

  .push-lg-10 {
    left: 83.33333%
  }

  .push-lg-11 {
    left: 91.66667%
  }

  .push-lg-12 {
    left: 100%
  }

  .offset-lg-0 {
    margin-left: 0
  }

  .offset-lg-1 {
    margin-left: 8.33333%
  }

  .offset-lg-2 {
    margin-left: 16.66667%
  }

  .offset-lg-3 {
    margin-left: 25%
  }

  .offset-lg-4 {
    margin-left: 33.33333%
  }

  .offset-lg-5 {
    margin-left: 41.66667%
  }

  .offset-lg-6 {
    margin-left: 50%
  }

  .offset-lg-7 {
    margin-left: 58.33333%
  }

  .offset-lg-8 {
    margin-left: 66.66667%
  }

  .offset-lg-9 {
    margin-left: 75%
  }

  .offset-lg-10 {
    margin-left: 83.33333%
  }

  .offset-lg-11 {
    margin-left: 91.66667%
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto
  }

  .col-xl-1 {
    width: 8.33333%
  }

  .col-xl-2 {
    width: 16.66667%
  }

  .col-xl-3 {
    width: 25%
  }

  .col-xl-4 {
    width: 33.33333%
  }

  .col-xl-5 {
    width: 41.66667%
  }

  .col-xl-6 {
    width: 50%
  }

  .col-xl-7 {
    width: 58.33333%
  }

  .col-xl-8 {
    width: 66.66667%
  }

  .col-xl-9 {
    width: 75%
  }

  .col-xl-10 {
    width: 83.33333%
  }

  .col-xl-11 {
    width: 91.66667%
  }

  .col-xl-12 {
    width: 100%
  }

  .pull-xl-0 {
    right: auto
  }

  .pull-xl-1 {
    right: 8.33333%
  }

  .pull-xl-2 {
    right: 16.66667%
  }

  .pull-xl-3 {
    right: 25%
  }

  .pull-xl-4 {
    right: 33.33333%
  }

  .pull-xl-5 {
    right: 41.66667%
  }

  .pull-xl-6 {
    right: 50%
  }

  .pull-xl-7 {
    right: 58.33333%
  }

  .pull-xl-8 {
    right: 66.66667%
  }

  .pull-xl-9 {
    right: 75%
  }

  .pull-xl-10 {
    right: 83.33333%
  }

  .pull-xl-11 {
    right: 91.66667%
  }

  .pull-xl-12 {
    right: 100%
  }

  .push-xl-0 {
    left: auto
  }

  .push-xl-1 {
    left: 8.33333%
  }

  .push-xl-2 {
    left: 16.66667%
  }

  .push-xl-3 {
    left: 25%
  }

  .push-xl-4 {
    left: 33.33333%
  }

  .push-xl-5 {
    left: 41.66667%
  }

  .push-xl-6 {
    left: 50%
  }

  .push-xl-7 {
    left: 58.33333%
  }

  .push-xl-8 {
    left: 66.66667%
  }

  .push-xl-9 {
    left: 75%
  }

  .push-xl-10 {
    left: 83.33333%
  }

  .push-xl-11 {
    left: 91.66667%
  }

  .push-xl-12 {
    left: 100%
  }

  .offset-xl-0 {
    margin-left: 0
  }

  .offset-xl-1 {
    margin-left: 8.33333%
  }

  .offset-xl-2 {
    margin-left: 16.66667%
  }

  .offset-xl-3 {
    margin-left: 25%
  }

  .offset-xl-4 {
    margin-left: 33.33333%
  }

  .offset-xl-5 {
    margin-left: 41.66667%
  }

  .offset-xl-6 {
    margin-left: 50%
  }

  .offset-xl-7 {
    margin-left: 58.33333%
  }

  .offset-xl-8 {
    margin-left: 66.66667%
  }

  .offset-xl-9 {
    margin-left: 75%
  }

  .offset-xl-10 {
    margin-left: 83.33333%
  }

  .offset-xl-11 {
    margin-left: 91.66667%
  }
}

@font-face {
  font-family: icomoon;
  /*src: url(../fonts/icomoon.ttf) format('truetype'), url(../fonts/icomoon.svg) format('svg');*/
  font-weight: 400;
  font-style: normal
}

.hovercontainer {
  height: 100%;
  position: relative;
  padding: 0
}

.hovercontainer > section {
  width: 100%;
  margin: 0 auto;
  padding: 5em 3em;
  text-align: center;
  color: #fff
}

.hovercontainer > section p {
  position: relative;
  margin: 0;
  padding: 1em;
  z-index: 1
}

.hovercontainer > section p.text {
  font-size: 1.4em
}

.no-touch .note-touch {
  display: none
}

.color-1 {
  background: #0e83cd
}

.color-2 {
  background: #f06060
}

.color-3 {
  background: #fcd04b
}

.color-4 {
  background: #2ecc71
}

.color-5 {
  background: #9e54bd
}

.color-6 {
  background: #4593e3
}

.color-7 {
  background: #2ac56c
}

.color-8 {
  background: #ecf0f1
}

.color-8 p.text {
  color: #aaa;
  font-weight: 700
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.nav-link, .navbar .dropdown-toggle {
  display: block;
  padding: .5rem 1rem
}

.nav-link:focus, .nav-link:hover, .navbar .dropdown-toggle:focus, .navbar .dropdown-toggle:hover {
  text-decoration: none
}

.nav-link.disabled, .navbar .disabled.dropdown-toggle {
  color: #b0bec5
}

.nav-tabs {
  border-bottom: 1px solid #ddd
}

.nav-tabs .nav-item {
  margin-bottom: -1px
}

.nav-tabs .nav-link, .nav-tabs .navbar .dropdown-toggle, .navbar .nav-tabs .dropdown-toggle {
  border: 1px solid transparent
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .navbar .dropdown-toggle:focus, .nav-tabs .navbar .dropdown-toggle:hover, .navbar .nav-tabs .dropdown-toggle:focus, .navbar .nav-tabs .dropdown-toggle:hover {
  border-color: #cfd8dc #cfd8dc #ddd
}

.nav-tabs .nav-link.disabled, .nav-tabs .navbar .disabled.dropdown-toggle, .navbar .nav-tabs .disabled.dropdown-toggle {
  color: #b0bec5;
  background-color: transparent;
  border-color: transparent
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-item.show .navbar .dropdown-toggle, .nav-tabs .nav-link.active, .nav-tabs .navbar .active.dropdown-toggle, .navbar .nav-tabs .active.dropdown-toggle, .navbar .nav-tabs .nav-item.show .dropdown-toggle {
  color: #607d8b;
  background-color: #e4e5e6;
  border-color: #ddd #ddd #e4e5e6
}

.nav-tabs .dropdown-menu {
  margin-top: -1px
}

.nav-pills .nav-link.active, .nav-pills .navbar .active.dropdown-toggle, .navbar .nav-pills .active.dropdown-toggle, .navbar .show .nav-pills .dropdown-toggle, .show .nav-pills .nav-link, .show .nav-pills .navbar .dropdown-toggle {
  color: #fff;
  background-color: #20a8d8
}

.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center
}

.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center
}

.tab-content > .tab-pane {
  display: none
}

.tab-content > .active {
  display: block
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem
}

.navbar > .container, .navbar > .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between
}

@media (max-width: 575px) {
  .navbar > .container, .navbar > .container-fluid {
    width: 100%;
    margin-right: 0;
    margin-left: 0
  }
}

.navbar-brand {
  display: inline-block;
  padding-top: .21875rem;
  padding-bottom: .21875rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap
}

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.navbar .navbar-nav .dropdown-toggle, .navbar-nav .nav-link, .navbar-nav .navbar .dropdown-toggle {
  padding-right: 0;
  padding-left: 0
}

.navbar-text {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .5rem
}

.navbar-collapse {
  flex-basis: 100%
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent
}

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none
  }

  .navbar-expand-sm > .container, .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start
  }

  .navbar-expand-sm .navbar-nav {
    flex-direction: row
  }

  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute
  }

  .navbar .navbar-expand-sm .navbar-nav .dropdown-toggle, .navbar-expand-sm .navbar-nav .nav-link, .navbar-expand-sm .navbar-nav .navbar .dropdown-toggle {
    padding-right: .5rem;
    padding-left: .5rem
  }

  .navbar-expand-sm > .container, .navbar-expand-sm > .container-fluid {
    flex-wrap: nowrap
  }

  .navbar-expand-sm .navbar-collapse {
    display: flex !important
  }

  .navbar-expand-sm .navbar-toggler {
    display: none
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: static;
    float: none
  }

  .navbar-expand-md > .container, .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start
  }

  .navbar-expand-md .navbar-nav {
    flex-direction: row
  }

  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute
  }

  .navbar .navbar-expand-md .navbar-nav .dropdown-toggle, .navbar-expand-md .navbar-nav .nav-link, .navbar-expand-md .navbar-nav .navbar .dropdown-toggle {
    padding-right: .5rem;
    padding-left: .5rem
  }

  .navbar-expand-md > .container, .navbar-expand-md > .container-fluid {
    flex-wrap: nowrap
  }

  .navbar-expand-md .navbar-collapse {
    display: flex !important
  }

  .navbar-expand-md .navbar-toggler {
    display: none
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none
  }

  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute
  }

  .navbar .navbar-expand-lg .navbar-nav .dropdown-toggle, .navbar-expand-lg .navbar-nav .nav-link, .navbar-expand-lg .navbar-nav .navbar .dropdown-toggle {
    padding-right: .5rem;
    padding-left: .5rem
  }

  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    flex-wrap: nowrap
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important
  }

  .navbar-expand-lg .navbar-toggler {
    display: none
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: static;
    float: none
  }

  .navbar-expand-xl > .container, .navbar-expand-xl > .container-fluid {
    padding-right: 0;
    padding-left: 0
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start
  }

  .navbar-expand-xl .navbar-nav {
    flex-direction: row
  }

  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute
  }

  .navbar .navbar-expand-xl .navbar-nav .dropdown-toggle, .navbar-expand-xl .navbar-nav .nav-link, .navbar-expand-xl .navbar-nav .navbar .dropdown-toggle {
    padding-right: .5rem;
    padding-left: .5rem
  }

  .navbar-expand-xl > .container, .navbar-expand-xl > .container-fluid {
    flex-wrap: nowrap
  }

  .navbar-expand-xl .navbar-collapse {
    display: flex !important
  }

  .navbar-expand-xl .navbar-toggler {
    display: none
  }
}

.navbar-expand {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: static;
  float: none
}

.navbar-expand > .container, .navbar-expand > .container-fluid {
  padding-right: 0;
  padding-left: 0
}

.navbar-expand .navbar-nav {
  flex-direction: row
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute
}

.navbar .navbar-expand .navbar-nav .dropdown-toggle, .navbar-expand .navbar-nav .nav-link, .navbar-expand .navbar-nav .navbar .dropdown-toggle {
  padding-right: .5rem;
  padding-left: .5rem
}

.navbar-expand > .container, .navbar-expand > .container-fluid {
  flex-wrap: nowrap
}

.navbar-expand .navbar-collapse {
  display: flex !important
}

.navbar-expand .navbar-toggler {
  display: none
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, .9)
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: rgba(0, 0, 0, .9)
}

.navbar .navbar-light .navbar-nav .dropdown-toggle, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .navbar .dropdown-toggle {
  color: rgba(0, 0, 0, .5)
}

.navbar .navbar-light .navbar-nav .dropdown-toggle:focus, .navbar .navbar-light .navbar-nav .dropdown-toggle:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .navbar .dropdown-toggle:focus, .navbar-light .navbar-nav .navbar .dropdown-toggle:hover {
  color: rgba(0, 0, 0, .7)
}

.navbar .navbar-light .navbar-nav .disabled.dropdown-toggle, .navbar-light .navbar-nav .nav-link.disabled, .navbar-light .navbar-nav .navbar .disabled.dropdown-toggle {
  color: rgba(0, 0, 0, .3)
}

.navbar .navbar-light .navbar-nav .active.dropdown-toggle, .navbar .navbar-light .navbar-nav .active > .dropdown-toggle, .navbar .navbar-light .navbar-nav .show.dropdown-toggle, .navbar .navbar-light .navbar-nav .show > .dropdown-toggle, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .navbar .active.dropdown-toggle, .navbar-light .navbar-nav .navbar .active > .dropdown-toggle, .navbar-light .navbar-nav .navbar .show.dropdown-toggle, .navbar-light .navbar-nav .navbar .show > .dropdown-toggle, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, .9)
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, .1)
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, .5)
}

.navbar-inverse .navbar-brand {
  color: #fff
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: #fff
}

.navbar .navbar-inverse .navbar-nav .dropdown-toggle, .navbar-inverse .navbar-nav .nav-link, .navbar-inverse .navbar-nav .navbar .dropdown-toggle {
  color: rgba(255, 255, 255, .5)
}

.navbar .navbar-inverse .navbar-nav .dropdown-toggle:focus, .navbar .navbar-inverse .navbar-nav .dropdown-toggle:hover, .navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-nav .navbar .dropdown-toggle:focus, .navbar-inverse .navbar-nav .navbar .dropdown-toggle:hover {
  color: rgba(255, 255, 255, .75)
}

.navbar .navbar-inverse .navbar-nav .disabled.dropdown-toggle, .navbar-inverse .navbar-nav .nav-link.disabled, .navbar-inverse .navbar-nav .navbar .disabled.dropdown-toggle {
  color: rgba(255, 255, 255, .25)
}

.navbar .navbar-inverse .navbar-nav .active.dropdown-toggle, .navbar .navbar-inverse .navbar-nav .active > .dropdown-toggle, .navbar .navbar-inverse .navbar-nav .show.dropdown-toggle, .navbar .navbar-inverse .navbar-nav .show > .dropdown-toggle, .navbar-inverse .navbar-nav .active > .nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.show, .navbar-inverse .navbar-nav .navbar .active.dropdown-toggle, .navbar-inverse .navbar-nav .navbar .active > .dropdown-toggle, .navbar-inverse .navbar-nav .navbar .show.dropdown-toggle, .navbar-inverse .navbar-nav .navbar .show > .dropdown-toggle, .navbar-inverse .navbar-nav .show > .nav-link {
  color: #fff
}

.navbar-inverse .navbar-toggler {
  color: rgba(255, 255, 255, .5);
  border-color: rgba(255, 255, 255, .1)
}

.navbar-inverse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-inverse .navbar-text {
  color: rgba(255, 255, 255, .5)
}

.breadcrumb {
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #fff
}

.breadcrumb::after {
  display: block;
  clear: both;
  content: ""
}

.breadcrumb-item {
  float: left
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #b0bec5;
  content: "/"
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none
}

.breadcrumb-item.active {
  color: #b0bec5
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px
}

.badge:empty {
  display: none
}

.btn .badge {
  position: relative;
  top: -1px
}

a.badge:focus, a.badge:hover {
  color: #fff;
  text-decoration: none
}

.badge-pill {
  padding-right: .6em;
  padding-left: .6em
}

.badge-default {
  background-color: #b0bec5
}

.badge-default[href]:focus, .badge-default[href]:hover {
  background-color: #93a6af
}

.badge-primary {
  background-color: #20a8d8
}

.badge-primary[href]:focus, .badge-primary[href]:hover {
  background-color: #1985ac
}

.badge-success {
  background-color: #4dbd74
}

.badge-success[href]:focus, .badge-success[href]:hover {
  background-color: #3a9d5d
}

.badge-info {
  background-color: #63c2de
}

.badge-info[href]:focus, .badge-info[href]:hover {
  background-color: #39b2d5
}

.badge-warning {
  background-color: #f8cb00
}

.badge-warning[href]:focus, .badge-warning[href]:hover {
  background-color: #c5a100
}

.badge-danger {
  background-color: #f86c6b
}

.badge-danger[href]:focus, .badge-danger[href]:hover {
  background-color: #f63c3a
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0
  }
  to {
    background-position: 0 0
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important
  }

  .d-lg-inline {
    display: inline !important
  }

  .d-lg-inline-block {
    display: inline-block !important
  }

  .d-lg-block {
    display: block !important
  }

  .d-lg-table {
    display: table !important
  }

  .d-lg-table-cell {
    display: table-cell !important
  }

  .d-lg-flex {
    display: flex !important
  }

  .d-lg-inline-flex {
    display: inline-flex !important
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important
  }

  .d-xl-inline {
    display: inline !important
  }

  .d-xl-inline-block {
    display: inline-block !important
  }

  .d-xl-block {
    display: block !important
  }

  .d-xl-table {
    display: table !important
  }

  .d-xl-table-cell {
    display: table-cell !important
  }

  .d-xl-flex {
    display: flex !important
  }

  .d-xl-inline-flex {
    display: inline-flex !important
  }
}

.d-print-block {
  display: none !important
}

@media print {
  .d-print-block {
    display: block !important
  }
}

.d-print-inline {
  display: none !important
}

@media print {
  .d-print-inline {
    display: inline !important
  }
}

.d-print-inline-block {
  display: none !important
}

@media print {
  .d-print-inline-block {
    display: inline-block !important
  }
}

@media print {
  .d-print-none {
    display: none !important
  }
}

.ml-auto {
  margin-left: auto !important
}

.bar-legend, .chart-legend, .doughnut-legend, .line-legend, .pie-legend, .polararea-legend, .radar-legend {
  list-style-type: none;
  margin-top: 5px;
  text-align: center;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding-left: 0
}

.bar-legend li, .chart-legend li, .doughnut-legend li, .line-legend li, .pie-legend li, .polararea-legend li, .radar-legend li {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  margin-bottom: 4px;
  padding: 2px 8px 2px 28px;
  font-size: smaller;
  cursor: default
}

.bar-legend li span, .chart-legend li span, .doughnut-legend li span, .line-legend li span, .pie-legend li span, .polararea-legend li span, .radar-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn
}

.aside-menu {
  z-index: 900;
  width: 250px;
  color: #263238;
  background: #fff;
  border-left: 1px solid #cfd8dc
}

.aside-menu .nav-tabs {
  border-color: #cfd8dc
}

.aside-menu .nav-tabs .nav-link, .aside-menu .nav-tabs .navbar .dropdown-toggle, .navbar .aside-menu .nav-tabs .dropdown-toggle {
  padding: .75rem 1rem;
  color: #263238;
  border-top: 0
}

.aside-menu .nav-tabs .nav-link.active, .aside-menu .nav-tabs .navbar .active.dropdown-toggle, .navbar .aside-menu .nav-tabs .active.dropdown-toggle {
  color: #20a8d8;
  border-right-color: #cfd8dc;
  border-left-color: #cfd8dc
}

.aside-menu .nav-tabs .nav-item:first-child .nav-link, .aside-menu .nav-tabs .nav-item:first-child .navbar .dropdown-toggle, .navbar .aside-menu .nav-tabs .nav-item:first-child .dropdown-toggle {
  border-left: 0
}

.aside-menu .tab-content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  border: 0;
  border-top: 1px solid #cfd8dc;
  -ms-overflow-style: -ms-autohiding-scrollbar
}

.aside-menu .tab-content::-webkit-scrollbar {
  width: 10px;
  margin-left: -10px;
  -webkit-appearance: none
}

.aside-menu .tab-content::-webkit-scrollbar-track {
  background-color: #fff;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2
}

.aside-menu .tab-content::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #e6e6e6;
  background-clip: content-box;
  border-color: transparent;
  border-style: solid;
  border-width: 1px 2px
}

.aside-menu .tab-content .tab-pane {
  padding: 0
}

.img-avatar {
  border-radius: 50em
}

.badge-pill {
  border-radius: 10rem
}

.breadcrumb-menu {
  position: absolute;
  top: 0;
  right: 1rem
}

.breadcrumb-menu::before {
  display: none
}

.breadcrumb-menu .btn {
  padding-top: .75rem;
  padding-bottom: .75rem
}

.breadcrumb-menu .btn.btn-secondary {
  color: #b0bec5;
  border: 0
}

.breadcrumb-menu .btn.btn-secondary.active, .breadcrumb-menu .btn.btn-secondary:hover {
  color: #263238;
  background: 0 0
}

.breadcrumb-menu .open .btn.btn-secondary {
  color: #263238;
  background: 0 0
}

.breadcrumb-menu .dropdown-menu {
  min-width: 180px;
  line-height: 1.5
}

.breadcrumb {
  position: relative;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #cfd8dc
}

.card {
  margin-bottom: 1.5rem
}

.card-header .icon-bg {
  display: inline-block;
  padding: .75rem 1.25rem !important;
  margin-top: -.75rem;
  margin-right: 1.25rem;
  margin-bottom: -.75rem;
  margin-left: -1.25rem;
  line-height: inherit;
  color: #263238;
  vertical-align: bottom;
  background: 0 0;
  border-right: 1px solid #cfd8dc
}

.card-header .nav.nav-tabs {
  margin-top: -.75rem;
  margin-bottom: -.75rem;
  border-bottom: 0
}

.card-header .nav.nav-tabs .nav-item {
  border-top: 0
}

.card-header .nav.nav-tabs .nav-link, .card-header .nav.nav-tabs .navbar .dropdown-toggle, .navbar .card-header .nav.nav-tabs .dropdown-toggle {
  padding: .75rem .625rem;
  color: #b0bec5;
  border-top: 0
}

.card-header .nav.nav-tabs .nav-link.active, .card-header .nav.nav-tabs .navbar .active.dropdown-toggle, .navbar .card-header .nav.nav-tabs .active.dropdown-toggle {
  color: #263238;
  background: #fff
}

.card-header.card-header-inverse {
  color: #fff
}

.card-header.card-header-primary {
  margin: -1px -1px 0;
  background: #20a8d8;
  border-bottom: 1px solid #20a8d8
}

.card-header.card-header-secondary {
  margin: -1px -1px 0;
  background: #cfd8dc;
  border-bottom: 1px solid #cfd8dc
}

.card-header.card-header-success {
  margin: -1px -1px 0;
  background: #4dbd74;
  border-bottom: 1px solid #4dbd74
}

.card-header.card-header-info {
  margin: -1px -1px 0;
  background: #63c2de;
  border-bottom: 1px solid #63c2de
}

.card-header.card-header-warning {
  margin: -1px -1px 0;
  background: #f8cb00;
  border-bottom: 1px solid #f8cb00
}

.card-header.card-header-danger {
  margin: -1px -1px 0;
  background: #f86c6b;
  border-bottom: 1px solid #f86c6b
}

.card-header .btn {
  margin-top: -.5rem
}

.card-header .btn-group-sm > .btn, .card-header .btn-sm {
  margin-top: -.25rem
}

.card-header .btn-group-lg > .btn, .card-header .btn-lg {
  margin-top: -.5rem
}

@media (min-width: 576px) {
  .card-columns.cols-2 {
    column-count: 2
  }
}

.card .drag, .card.drag {
  cursor: move
}

.card-placeholder {
  background: rgba(0, 0, 0, .025);
  border: 1px dashed #b0bec5
}

.chart-wrapper canvas {
  width: 100% !important
}

base-chart.chart {
  display: block !important
}

.app-footer {
  min-height: 50px;
  padding: 0 1rem;
  line-height: 50px;
  color: #263238;
  background: #eceff1;
  border-top: 1px solid #cfd8dc
}

.row.row-equal {
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-right: -15px;
  margin-left: -15px
}

.row.row-equal [class*=col-] {
  padding-right: 7.5px;
  padding-left: 7.5px
}

.main .container-fluid {
  padding: 0 30px
}

.input-group-addon, .input-group-btn {
  min-width: 40px;
  white-space: nowrap;
  vertical-align: middle
}

.nav-tabs .nav-link, .nav-tabs .navbar .dropdown-toggle, .navbar .nav-tabs .dropdown-toggle {
  color: #607d8b
}

.nav-tabs .nav-link.active, .nav-tabs .navbar .active.dropdown-toggle, .navbar .nav-tabs .active.dropdown-toggle {
  color: #263238;
  background: #fff;
  border-color: #cfd8dc;
  border-bottom-color: #fff
}

.nav-tabs .nav-link.active:focus, .nav-tabs .navbar .active.dropdown-toggle:focus, .navbar .nav-tabs .active.dropdown-toggle:focus {
  background: #fff;
  border-color: #cfd8dc;
  border-bottom-color: #fff
}

.app-header.navbar {
  position: relative;
  flex-direction: row;
  height: 55px;
  margin: 0;
  padding: 0;
  background-color: #143f6d;
  border-bottom: 1px solid #cfd8dc
}

.app-header.navbar .navbar-brand {
  display: inline-block;
  width: 155px;
  height: 55px;
  padding: .5rem 1rem;
  margin-right: 0;
  /*background-image: url(../img/logo.png);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150px auto;
  border-bottom: 1px solid #cfd8dc
}

.app-header.navbar .navbar-nav {
  flex-direction: row;
  align-items: center
}

.app-header.navbar .nav-item {
  position: relative;
  min-width: 50px;
  margin: 0 !important;
  text-align: center
}

.app-header.navbar .nav-item button {
  margin: 0 auto
}

.app-header.navbar .nav-item .dropdown-toggle, .app-header.navbar .nav-item .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  background: 0
}

.app-header.navbar .nav-item .dropdown-toggle .badge, .app-header.navbar .nav-item .nav-link .badge {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: 0
}

.app-header.navbar .nav-item .dropdown-toggle > .img-avatar, .app-header.navbar .nav-item .nav-link > .img-avatar {
  height: 35px;
  margin: 0 10px
}

.app-header.navbar .dropdown-menu {
  padding-bottom: 0;
  line-height: 1.5
}

.app-header.navbar .dropdown-item {
  min-width: 180px
}

.navbar-brand {
  color: rgba(0, 0, 0, .8)
}

.navbar-brand:focus, .navbar-brand:hover {
  color: rgba(0, 0, 0, .8)
}

.navbar-divider {
  background-color: rgba(0, 0, 0, .075)
}

.progress-xs {
  height: 4px
}

.progress-sm {
  height: 8px
}

.progress-white {
  background-color: rgba(255, 255, 255, .2) !important
}

.progress-white .progress-bar {
  background-color: #fff
}

.sidebar {
  padding: 0;
  overflow: hidden;
  color: #fff;
  background: #0d5477
}

.sidebar .sidebar-close {
  position: absolute;
  right: 0;
  display: none;
  padding: 0 1rem;
  font-size: 24px;
  font-weight: 800;
  line-height: 55px;
  color: #fff;
  background: 0;
  border: 0;
  opacity: .8
}

.sidebar .sidebar-close:hover {
  opacity: 1
}

.sidebar .sidebar-nav {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 200px
}

.sidebar .nav {
  width: 200px;
  flex-direction: column !important
}

.sidebar .nav .nav-title {
  padding: .75rem 1rem;
  font-size: 11px;
  font-weight: 600;
  color: #cfd8dc;
  text-transform: uppercase
}

.sidebar .nav .divider {
  height: 10px
}

.sidebar .nav .nav-item {
  position: relative;
  margin: 0;
  transition: background .3s ease-in-out
}

.sidebar .nav .nav-item ul {
  max-height: 0;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  transition: max-height .3s ease-in-out
}

.sidebar .nav .nav-item ul li {
  padding: 0;
  list-style: none
}

.navbar .sidebar .nav .nav-item .dropdown-toggle, .sidebar .nav .nav-item .nav-link, .sidebar .nav .nav-item .navbar .dropdown-toggle {
  display: block;
  padding: 1rem 2rem;
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  background: 0 0
}

.navbar .sidebar .nav .nav-item .dropdown-toggle:hover, .sidebar .nav .nav-item .nav-link:hover, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover {
  color: #fff !important;
  background: #20a8d8 !important
}

.navbar .sidebar .nav .nav-item .dropdown-toggle:hover i, .sidebar .nav .nav-item .nav-link:hover i, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover i {
  color: #fff !important
}

.navbar .sidebar .nav .nav-item .active.dropdown-toggle, .sidebar .nav .nav-item .nav-link.active, .sidebar .nav .nav-item .navbar .active.dropdown-toggle {
  color: #fff;
  background: #20a8d8
}

.navbar .sidebar .nav .nav-item .active.dropdown-toggle i, .sidebar .nav .nav-item .nav-link.active i, .sidebar .nav .nav-item .navbar .active.dropdown-toggle i {
  color: #20a8d8
}

.navbar .sidebar .nav .nav-item .dropdown-toggle [class*=" icon-"], .navbar .sidebar .nav .nav-item .dropdown-toggle [class^=icon-], .sidebar .nav .nav-item .nav-link [class*=" icon-"], .sidebar .nav .nav-item .nav-link [class^=icon-], .sidebar .nav .nav-item .navbar .dropdown-toggle [class*=" icon-"], .sidebar .nav .nav-item .navbar .dropdown-toggle [class^=icon-] {
  display: inline-block;
  margin-top: -4px;
  vertical-align: middle
}

.navbar .sidebar .nav .nav-item .dropdown-toggle i, .sidebar .nav .nav-item .nav-link i, .sidebar .nav .nav-item .navbar .dropdown-toggle i {
  width: 20px;
  margin: 0 .5rem 0 0;
  font-size: 16px;
  color: #b0bec5;
  text-align: center
}

.navbar .sidebar .nav .nav-item .dropdown-toggle .badge, .sidebar .nav .nav-item .nav-link .badge, .sidebar .nav .nav-item .navbar .dropdown-toggle .badge {
  float: right;
  margin-top: 2px
}

.navbar .sidebar .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before, .sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before, .sidebar .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before {
  position: absolute;
  top: .96875rem;
  right: 1rem;
  display: block;
  width: .875rem;
  height: .875rem;
  padding: 0;
  font-size: 1.875rem;
  line-height: .85625rem;
  text-align: center;
  content: "\2039";
  transition: .3s
}

.sidebar .nav .nav-item.nav-dropdown.open > ul li {
  background: rgba(0, 0, 0, .2)
}

.sidebar .nav .nav-item.nav-dropdown.open > ol, .sidebar .nav .nav-item.nav-dropdown.open > ul {
  max-height: 1000px
}

.navbar .sidebar .nav .nav-item.nav-dropdown.open .dropdown-toggle, .sidebar .nav .nav-item.nav-dropdown.open .nav-link, .sidebar .nav .nav-item.nav-dropdown.open .navbar .dropdown-toggle {
  color: #fff;
  border-left: 0 !important
}

.navbar .sidebar .nav .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before, .sidebar .nav .nav-item.nav-dropdown.open > .nav-link.nav-dropdown-toggle::before, .sidebar .nav .navbar .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before {
  transform: rotate(-90deg)
}

.sidebar .nav .nav-item.nav-dropdown.open .nav-dropdown.open {
  border-left: 0
}

.sidebar .nav .nav-item.nav-dropdown.nt {
  transition: 0s !important
}

.sidebar .nav .nav-item.nav-dropdown.nt > ol, .sidebar .nav .nav-item.nav-dropdown.nt > ul {
  transition: 0s !important
}

.navbar .sidebar .nav .nav-item.nav-dropdown.nt .nav-dropdown-toggle.dropdown-toggle::before, .sidebar .nav .nav-item.nav-dropdown.nt .nav-link.nav-dropdown-toggle::before, .sidebar .nav .nav-item.nav-dropdown.nt .navbar .nav-dropdown-toggle.dropdown-toggle::before {
  transition: 0s !important
}

.sidebar .nav .nav-item .nav-label {
  display: block;
  padding: .09375rem 1rem;
  color: #cfd8dc
}

.sidebar .nav .nav-item .nav-label:hover {
  color: #fff;
  text-decoration: none
}

.sidebar .nav .nav-item .nav-label i {
  width: 20px;
  margin: -3px .5rem 0 0;
  font-size: 10px;
  color: #b0bec5;
  text-align: center;
  vertical-align: middle
}

.sidebar .nav .nav-item .progress {
  background-color: #455b66 !important
}

@media (min-width: 992px) {
  .sidebar-compact .sidebar .sidebar-nav {
    width: 150px
  }

  .sidebar-compact .sidebar .nav {
    width: 150px
  }

  .sidebar-compact .sidebar .nav .nav-title {
    text-align: center
  }

  .sidebar-compact .sidebar .nav .nav-item {
    width: 150px;
    border-left: 0 !important
  }

  .navbar .sidebar-compact .sidebar .nav .nav-item .dropdown-toggle, .sidebar-compact .sidebar .nav .nav-item .nav-link, .sidebar-compact .sidebar .nav .nav-item .navbar .dropdown-toggle {
    text-align: center
  }

  .navbar .sidebar-compact .sidebar .nav .nav-item .dropdown-toggle i, .sidebar-compact .sidebar .nav .nav-item .nav-link i, .sidebar-compact .sidebar .nav .nav-item .navbar .dropdown-toggle i {
    display: block;
    width: 100%;
    margin: .25rem 0;
    font-size: 24px
  }

  .navbar .sidebar-compact .sidebar .nav .nav-item .dropdown-toggle .badge, .sidebar-compact .sidebar .nav .nav-item .nav-link .badge, .sidebar-compact .sidebar .nav .nav-item .navbar .dropdown-toggle .badge {
    position: absolute;
    top: 18px;
    right: 10px
  }

  .navbar .sidebar-compact .sidebar .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before, .sidebar-compact .sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before, .sidebar-compact .sidebar .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before {
    top: 30px
  }

  .sidebar-minimized .hidden-cn {
    display: none
  }

  .sidebar-minimized .sidebar {
    z-index: 1019
  }

  .sidebar-minimized .sidebar:hover {
    overflow: visible
  }

  .sidebar-minimized .sidebar .sidebar-nav {
    overflow: visible;
    width: 50px
  }

  .sidebar-minimized .sidebar .nav {
    width: 50px
  }

  .sidebar-minimized .sidebar .nav .divider, .sidebar-minimized .sidebar .nav .nav-title {
    display: none
  }

  .sidebar-minimized .sidebar .nav .nav-item {
    width: 50px;
    overflow: hidden;
    border-left: 0 !important
  }

  .sidebar-minimized .sidebar .nav .nav-item ul {
    background: #0d5477
  }

  .navbar .sidebar-minimized .sidebar .nav .nav-item .dropdown-toggle, .sidebar-minimized .sidebar .nav .nav-item .nav-link, .sidebar-minimized .sidebar .nav .nav-item .navbar .dropdown-toggle {
    position: relative;
    padding-left: 0;
    margin: 0;
    white-space: nowrap;
    border-left: 0 !important
  }

  .navbar .sidebar-minimized .sidebar .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before, .sidebar-minimized .sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before, .sidebar-minimized .sidebar .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before {
    display: none
  }

  .navbar .sidebar-minimized .sidebar .nav .nav-item .dropdown-toggle i, .sidebar-minimized .sidebar .nav .nav-item .nav-link i, .sidebar-minimized .sidebar .nav .nav-item .navbar .dropdown-toggle i {
    display: block;
    float: left;
    width: 50px;
    padding: 0;
    margin: 0 !important;
    font-size: 18px
  }

  .navbar .sidebar-minimized .sidebar .nav .nav-item .dropdown-toggle .badge, .sidebar-minimized .sidebar .nav .nav-item .nav-link .badge, .sidebar-minimized .sidebar .nav .nav-item .navbar .dropdown-toggle .badge {
    position: absolute;
    right: 15px;
    display: none
  }

  .navbar .sidebar-minimized .sidebar .nav .nav-item .dropdown-toggle:hover, .sidebar-minimized .sidebar .nav .nav-item .nav-link:hover, .sidebar-minimized .sidebar .nav .nav-item .navbar .dropdown-toggle:hover {
    width: 200px
  }

  .navbar .sidebar-minimized .sidebar .nav .nav-item .dropdown-toggle:hover .badge, .sidebar-minimized .sidebar .nav .nav-item .nav-link:hover .badge, .sidebar-minimized .sidebar .nav .nav-item .navbar .dropdown-toggle:hover .badge {
    display: inline
  }

  .sidebar-minimized .sidebar .nav .nav-item ul {
    position: absolute;
    left: 50px
  }

  .sidebar-minimized .sidebar .nav .nav-item ul li {
    position: relative;
    padding: 0
  }

  .navbar .sidebar-minimized .sidebar .nav .nav-item ul li .dropdown-toggle, .sidebar-minimized .sidebar .nav .nav-item ul li .nav-link, .sidebar-minimized .sidebar .nav .nav-item ul li .navbar .dropdown-toggle {
    width: 150px
  }

  .sidebar-minimized .sidebar .nav .nav-item ul li ol, .sidebar-minimized .sidebar .nav .nav-item ul li ul {
    position: absolute;
    top: 0;
    left: 100%
  }

  .sidebar-minimized .sidebar .nav .nav-item.nav-dropdown.open {
    background: #20a8d8
  }

  .navbar .sidebar-minimized .sidebar .nav .nav-item.nav-dropdown.open > .dropdown-toggle i, .sidebar-minimized .sidebar .nav .nav-item.nav-dropdown.open > .nav-link i, .sidebar-minimized .sidebar .nav .navbar .nav-item.nav-dropdown.open > .dropdown-toggle i {
    color: #20a8d8
  }

  .sidebar-minimized .sidebar .nav .nav-item.nav-dropdown.open > ol, .sidebar-minimized .sidebar .nav .nav-item.nav-dropdown.open > ul {
    display: none
  }

  .sidebar-minimized .sidebar .nav .nav-item:hover {
    width: 250px;
    overflow: visible;
    background: #20a8d8;
    transition: 0s
  }

  .navbar .sidebar-minimized .sidebar .nav .nav-item:hover > .dropdown-toggle, .sidebar-minimized .sidebar .nav .nav-item:hover > .nav-link, .sidebar-minimized .sidebar .nav .navbar .nav-item:hover > .dropdown-toggle {
    width: 250px
  }

  .sidebar-minimized .sidebar .nav .nav-item:hover > ol, .sidebar-minimized .sidebar .nav .nav-item:hover > ul {
    display: inline;
    max-height: 10000px;
    transition: 0s
  }

  .sidebar-minimized .sidebar .nav .nav-item:hover > ol li, .sidebar-minimized .sidebar .nav .nav-item:hover > ul li {
    width: 200px
  }

  .navbar .sidebar-minimized .sidebar .nav .nav-item:hover > ol li .dropdown-toggle, .navbar .sidebar-minimized .sidebar .nav .nav-item:hover > ul li .dropdown-toggle, .sidebar-minimized .sidebar .nav .nav-item:hover > ol li .nav-link, .sidebar-minimized .sidebar .nav .nav-item:hover > ol li .navbar .dropdown-toggle, .sidebar-minimized .sidebar .nav .nav-item:hover > ul li .nav-link, .sidebar-minimized .sidebar .nav .nav-item:hover > ul li .navbar .dropdown-toggle {
    width: 200px
  }

  .sidebar-minimized .sidebar .nav .nav-item:hover.nav-dropdown.open > ol, .sidebar-minimized .sidebar .nav .nav-item:hover.nav-dropdown.open > ul {
    display: inline
  }
}

@media all and (-ms-high-contrast: none) {
  html {
    display: flex;
    flex-direction: column
  }
}

.app, app-dashboard, app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.app-header {
  flex: 0 0 55px
}

.app-footer {
  flex: 0 0 50px
}

.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden
}

.app-body .main {
  flex: 1;
  min-width: 0
}

.app-body .sidebar {
  flex: 0 0 200px;
  order: -1
}

.app-body .aside-menu {
  flex: 0 0 250px
}

.header-fixed .app-header {
  position: fixed;
  z-index: 1020;
  width: 100%
}

.header-fixed .app-body {
  margin-top: 55px
}

.sidebar-hidden .sidebar {
  margin-left: -200px
}

.sidebar-fixed .sidebar {
  position: fixed;
  width: 200px;
  height: 100%
}

.sidebar-fixed .sidebar .sidebar-nav {
  height: calc(100vh - 55px)
}

.sidebar-fixed .app-footer, .sidebar-fixed .main {
  margin-left: 200px
}

.sidebar-fixed.sidebar-hidden .app-footer, .sidebar-fixed.sidebar-hidden .main {
  margin-left: 0
}

.sidebar-off-canvas .sidebar {
  position: fixed;
  z-index: 1019;
  height: 100%
}

.sidebar-off-canvas .sidebar .sidebar-nav {
  height: calc(100vh - 55px)
}

@media (min-width: 992px) {
  .sidebar-compact .sidebar {
    flex: 0 0 150px
  }

  .sidebar-compact.sidebar-hidden .sidebar {
    margin-left: -150px
  }

  .sidebar-compact.sidebar-fixed .app-footer, .sidebar-compact.sidebar-fixed .main {
    margin-left: 150px
  }

  .sidebar-compact.sidebar-fixed .sidebar {
    width: 150px
  }

  .sidebar-compact.sidebar-fixed.sidebar-hidden .app-footer, .sidebar-compact.sidebar-fixed.sidebar-hidden .main {
    margin-left: 0
  }

  .sidebar-minimized .sidebar {
    flex: 0 0 50px
  }

  .sidebar-minimized.sidebar-hidden .sidebar {
    margin-left: -50px
  }

  .sidebar-minimized.sidebar-fixed .app-footer, .sidebar-minimized.sidebar-fixed .main {
    margin-left: 50px
  }

  .sidebar-minimized.sidebar-fixed .sidebar {
    width: 50px
  }

  .sidebar-minimized.sidebar-fixed.sidebar-hidden .app-footer, .sidebar-minimized.sidebar-fixed.sidebar-hidden .main {
    margin-left: 0
  }
}

.aside-menu-hidden .aside-menu {
  margin-right: -250px
}

.aside-menu-fixed .aside-menu {
  position: fixed;
  right: 0;
  height: 100%
}

.aside-menu-fixed .aside-menu .tab-content {
  height: calc(100vh - 2.375rem - 55px)
}

.aside-menu-fixed .app-footer, .aside-menu-fixed .main {
  margin-right: 250px
}

.aside-menu-fixed.aside-menu-hidden .app-footer, .aside-menu-fixed.aside-menu-hidden .main {
  margin-right: 0;
  padding-bottom: 10px
}

.aside-menu-off-canvas .aside-menu {
  position: fixed;
  right: 0;
  z-index: 1019;
  height: 100%
}

.aside-menu-off-canvas .aside-menu .tab-content {
  height: calc(100vh - 2.375rem - 55px)
}

.footer-fixed .app-footer {
  position: fixed;
  bottom: 0;
  z-index: 1020;
  width: 100%
}

.footer-fixed .app-body {
  margin-bottom: 50px
}

.app-footer, .app-header, .aside-menu, .main, .sidebar {
  transition: margin-left .25s, margin-right .25s, width .25s, flex .25s
}

@media (max-width: 991px) {
  .app-header {
    position: fixed !important;
    z-index: 1020;
    width: 100%
  }

  .app-header .navbar-toggler {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: inherit
  }

  .app-header .navbar-toggler {
    color: #2d8cf0
  }

  .app-header .navbar-brand {
    width: 100% !important;
    margin: 0 auto !important
  }

  .app-header .navbar-nav {
    position: absolute;
    top: 0;
    right: 15px;
    height: inherit
  }

  .app-body {
    margin-top: 55px
  }

  .sidebar {
    position: fixed;
    width: 220px;
    height: 100%;
    margin-left: -220px
  }

  .sidebar .nav, .sidebar .sidebar-nav {
    width: 220px !important
  }

  .app-footer, .main {
    margin-left: 0 !important
  }

  .aside-menu {
    margin-right: -250px
  }

  .sidebar-mobile-show .sidebar {
    width: 220px;
    margin-left: 0
  }

  .sidebar-mobile-show .sidebar .sidebar-nav {
    height: calc(100vh - 55px)
  }

  .sidebar-mobile-show .main {
    margin-right: -220px !important;
    margin-left: 220px !important
  }
}

hr.transparent {
  border-top: 1px solid transparent
}

.b-a-0 {
  border: 0 !important
}

.b-t-0 {
  border-top: 0 !important
}

.b-r-0 {
  border-right: 0 !important
}

.b-b-0 {
  border-bottom: 0 !important
}

.b-l-0 {
  border-left: 0 !important
}

.b-a-1 {
  border: 1px solid #cfd8dc !important
}

.b-t-1 {
  border-top: 1px solid #cfd8dc !important
}

.b-r-1 {
  border-right: 1px solid #cfd8dc !important
}

.b-b-1 {
  border-bottom: 1px solid #cfd8dc !important
}

.b-l-1 {
  border-left: 1px solid #cfd8dc !important
}

.b-a-2 {
  border: 2px solid #cfd8dc !important
}

.b-t-2 {
  border-top: 2px solid #cfd8dc !important
}

.b-r-2 {
  border-right: 2px solid #cfd8dc !important
}

.b-b-2 {
  border-bottom: 2px solid #cfd8dc !important
}

.b-l-2 {
  border-left: 2px solid #cfd8dc !important
}

@media (max-width: 575px) {
  .d-down-none {
    display: none !important
  }
}

@media (max-width: 767px) {
  .d-sm-down-none {
    display: none !important
  }
}

@media (max-width: 991px) {
  .d-md-down-none {
    display: none !important
  }
}

@media (max-width: 1199px) {
  .d-lg-down-none {
    display: none !important
  }
}

.d-xl-down-none {
  display: none !important
}

.label-pill {
  border-radius: 1rem !important
}

.open > .dropdown-menu {
  display: block
}

.open > a {
  outline: 0
}

.navbar .dropdown-toggle .img-avatar {
  height: 35px;
  margin: 0 10px
}

[dir=rtl] {
  direction: rtl;
  unicode-bidi: embed
}

[dir=rtl] ul {
  -webkit-padding-start: 0
}

[dir=rtl] table tr th {
  text-align: right
}

[dir=rtl] .breadcrumb-item {
  float: right
}

[dir=rtl] .breadcrumb-menu {
  right: auto;
  left: 1rem
}

[dir=rtl] .dropdown-item {
  text-align: right
}

[dir=rtl] .dropdown-item i {
  margin-right: -10px;
  margin-left: 10px
}

[dir=rtl] .dropdown-item .badge {
  right: auto;
  left: 10px
}

[dir=rtl] .sidebar-hidden .sidebar {
  margin-right: -200px
}

[dir=rtl] .sidebar-fixed .app-footer, [dir=rtl] .sidebar-fixed .main {
  margin-right: 200px
}

[dir=rtl] .sidebar-fixed.sidebar-hidden .app-footer, [dir=rtl] .sidebar-fixed.sidebar-hidden .main {
  margin-right: 0
}

[dir=rtl] .sidebar-minimized .sidebar {
  flex: 0 0 50px
}

[dir=rtl] .sidebar-minimized.sidebar-hidden .sidebar {
  margin-left: -50px
}

[dir=rtl] .sidebar-minimized.sidebar-fixed .app-footer, [dir=rtl] .sidebar-minimized.sidebar-fixed .main {
  margin-left: 50px
}

[dir=rtl] .sidebar-minimized.sidebar-fixed.sidebar-hidden .app-footer, [dir=rtl] .sidebar-minimized.sidebar-fixed.sidebar-hidden .main {
  margin-left: 0
}

[dir=rtl] .aside-menu-hidden .aside-menu {
  margin-left: -250px
}

[dir=rtl] .aside-menu-fixed .aside-menu {
  right: auto;
  left: 0
}

[dir=rtl] .aside-menu-fixed .app-footer, [dir=rtl] .aside-menu-fixed .main {
  margin-left: 250px
}

[dir=rtl] .aside-menu-fixed.aside-menu-hidden .app-footer, [dir=rtl] .aside-menu-fixed.aside-menu-hidden .main {
  margin-left: 0
}

[dir=rtl] .aside-menu-off-canvas .aside-menu {
  position: fixed;
  right: 0;
  z-index: 1019;
  height: 100%
}

[dir=rtl] .aside-menu-off-canvas .aside-menu .tab-content {
  height: calc(100vh - 2.375rem - 55px)
}

[dir=rtl] .sidebar .sidebar-nav {
  direction: ltr
}

[dir=rtl] .sidebar .sidebar-nav * {
  direction: rtl
}

.navbar [dir=rtl] .sidebar .sidebar-nav .nav .nav-item .dropdown-toggle [class*=" icon-"], .navbar [dir=rtl] .sidebar .sidebar-nav .nav .nav-item .dropdown-toggle [class^=icon-], [dir=rtl] .sidebar .sidebar-nav .nav .nav-item .nav-link [class*=" icon-"], [dir=rtl] .sidebar .sidebar-nav .nav .nav-item .nav-link [class^=icon-], [dir=rtl] .sidebar .sidebar-nav .nav .nav-item .navbar .dropdown-toggle [class*=" icon-"], [dir=rtl] .sidebar .sidebar-nav .nav .nav-item .navbar .dropdown-toggle [class^=icon-] {
  margin-right: -4px
}

.navbar [dir=rtl] .sidebar .sidebar-nav .nav .nav-item .dropdown-toggle .badge, [dir=rtl] .sidebar .sidebar-nav .nav .nav-item .nav-link .badge, [dir=rtl] .sidebar .sidebar-nav .nav .nav-item .navbar .dropdown-toggle .badge {
  float: left;
  margin-top: 2px
}

.navbar [dir=rtl] .sidebar .sidebar-nav .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before, [dir=rtl] .sidebar .sidebar-nav .nav .nav-item .nav-link.nav-dropdown-toggle::before, [dir=rtl] .sidebar .sidebar-nav .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before {
  position: absolute;
  right: auto !important;
  left: 1rem
}

.navbar [dir=rtl] .sidebar .sidebar-nav .nav .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before, [dir=rtl] .sidebar .sidebar-nav .nav .nav-item.nav-dropdown.open > .nav-link.nav-dropdown-toggle::before, [dir=rtl] .sidebar .sidebar-nav .nav .navbar .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before {
  transform: rotate(90deg)
}

[dir=rtl] .horizontal-bars li .bars {
  padding-right: 100px;
  padding-left: 0
}

[dir=rtl] .horizontal-bars li .bars .progress:first-child {
  margin-bottom: 2px
}

[dir=rtl] .horizontal-bars.type-2 li i {
  margin-right: 5px;
  margin-left: 1rem
}

[dir=rtl] .horizontal-bars.type-2 li .value {
  float: left;
  font-weight: 600
}

[dir=rtl] .horizontal-bars.type-2 li .bars {
  padding: 0
}

[dir=rtl] .icons-list li {
  position: relative;
  height: 40px;
  vertical-align: middle
}

[dir=rtl] .icons-list li i {
  float: right
}

[dir=rtl] .icons-list li .desc {
  margin-right: 50px;
  margin-left: 0
}

[dir=rtl] .icons-list li .value {
  right: auto;
  left: 45px;
  text-align: left
}

[dir=rtl] .icons-list li .value strong {
  display: block;
  margin-top: -3px
}

[dir=rtl] .icons-list li .actions {
  right: auto;
  left: 10px
}

[dir=rtl] .callout {
  border: 0 solid #cfd8dc;
  border-right-width: .25rem
}

[dir=rtl] .callout .chart-wrapper {
  left: 0;
  float: left
}

[dir=rtl] .callout-default {
  border-right-color: #b0bec5
}

[dir=rtl] .callout-primary {
  border-right-color: #20a8d8
}

[dir=rtl] .callout-info {
  border-right-color: #63c2de
}

[dir=rtl] .callout-warning {
  border-right-color: #f8cb00
}

[dir=rtl] .callout-danger {
  border-right-color: #f86c6b
}

[dir=rtl] .callout-success {
  border-right-color: #4dbd74
}

.ivu-notice {
  top: 65px !important
}

.ivu-message {
  top: 65px !important
}

.mt-4 {
  margin-top: 1.5rem !important
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important
}

.main {
  background-color: #eff0f4
}

.doc-header {
  width: 100%;
  border-bottom: 1.5px dashed #062873;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 30px
}

.doc-content {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 5px;
  line-height: 20px
}

.doc-content p {
  margin-bottom: 5px;
  margin-top: 5px
}

.doc-content h5 {
  margin-bottom: 10px;
  margin-top: 10px
}
