.table-page {
  padding: 5px;
  height: 100%;
  box-sizing: border-box;
  .view-main {
    position: relative;
    background-color: #fff;
    height: 100%;
    .search-section {
      padding: 5px 15px;
      .form-item {
        display: inline-block;
        margin-right: 30px;
        padding: 10px 0;
        .form-label {
          display: inline-block;
          font-size: 16px;
          color: #333;
          margin-right: 10px;
        }
        .form-content {
          display: inline-block;
          .el-input__inner {
            height: 24px;
          }
          .el-input__icon {
            line-height: 24px;
          }
          .el-date-editor {
            .el-icon-date, .el-range-separator, .el-input__icon {
              line-height: 16px;
            }
          }
          .shortcuts {
            display: inline-block;
            margin-left: 15px;
            font-size: 0;
            .shortcuts-btn {
              display: inline-block;
              margin-right: 10px;
              font-size: 12px;
              width: 36px;
              height: 24px;
              line-height: 22px;
              text-align: center;
              box-sizing: border-box;
              border: 1px solid #1DD3B8;
              color: #666;
              &:last-child {
                margin-right: 0;
              }
              &.shortcuts-btn-active {
                background-color: #1DD3B8;
                color: #fff;
              }
            }
          }
          .el-checkbox-group {
            .el-checkbox {
              margin-right: 10px;
              color: #666;
              font-weight: 400;
              .el-checkbox__inner {
                width: 18px;
                height: 18px;
                &::after {
                  top: 0;
                  left: 5px;
                  width: 5px;
                  height: 10px;
                }
              }
              .el-checkbox__label {
                padding-left: 5px;
              }
            }
          }
          .el-radio-group {
            .el-radio {
              margin-right: 10px;
              color: #666;
              font-weight: 400;
              .el-radio__inner {
                width: 18px;
                height: 18px;
                &::after {
                  top: 50%;
                  left: 50%;
                  width: 8px;
                  height: 8px;
                }
              }
              .el-radio__label {
                padding-left: 5px;
              }
            }
          }
        }
        .el-button {
          padding: 0;
          height: 24px;
          width: 50px;
          font-weight: 400;
        }
      }
    }
    .table-section {
      .table-btns {
        padding: 0 15px 12px;
        .el-button {
          padding: 0;
          height: 24px;
          width: 50px;
          font-weight: 400;
        }
      }
      .table-wrap {
        padding: 0 10px;
        .el-table {
          .current-row>td {
            background: rgba(76, 235, 188, .3);
          }
          th, td {
            padding: 8px 0;
            text-align: center;
          }
          .col-btn {
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-right: 20px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .el-pagination {
          margin: 20px 0;
          text-align: right;
          font-weight: 400;
          &.is-background {
            .btn-prev, .btn-next, .el-pager li {
              margin: 0 2px;
            }
          }
          span:not([class*=suffix]) {
            min-width: 60px;
          }
        }
      }
    }
  }
}
