.equipment-map {
  padding: 5px;
  height: 100%;
  box-sizing: border-box;
  .view-main {
    position: relative;
    background-color: #fff;
    height: 100%;
    .search-wrap {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      width: 290px;
      height: 35px;
      z-index: 999;
      .el-input {
        font-size: 12px;
        .el-input__inner {
          width: 224px;
          height: 28px;
          line-height: 28px;
          border-color: #1DD3B8;
          border-radius: 0;
          background: hsla(0, 0%, 100%, .9);
        }
        .el-input__prefix {
          top: 6px;
          left: 0;
          width: 26px;
          height: 16px;
          text-align: center;
          box-sizing: border-box;
          border-right: 1px solid #1DD3B8;
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
      .el-button {
        margin-left: 10px;
        padding: 0;
        width: 69px;
        height: 28px;
        opacity: .9;
      }
    }
    .el-icon-location-outline,
    .el-icon-map-location,
    .el-icon-wind-power {
      font-size: 36px;
      color: #1DD3B8;
    }
    .length-tool {
      padding: 5px;
      .el-button {
        padding: 0;
        width: 69px;
        height: 28px;
        font-size: 12px;
        font-weight: normal;
      }
      .el-input {
        .el-input__inner {
          padding-right: 18px;
          height: 28px;
          line-height: 28px;
          width: 70px;
          font-size: 12px;
          font-weight: normal;
        }
        .el-select__caret {
          font-size: 12px;
          line-height: 28px;
          width: 10px;
        }
      }
      .mark {
        display: inline-block;
        position: relative;
        margin-left: 10px;
        height: 28px;
        width: 50px;
        vertical-align: top;
        .mark-label {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: 50px;
          height: 28px;
          line-height: 28px;
          text-align: center;
        }
        .mark-cascader {
          position: absolute;
          top: 0;
          left: 0;
          width: 50px;
          height: 28px;
          overflow: hidden;
          opacity: 0;
        }
      }
    }
    .mark-tool {
      padding: 5px;
      .el-input {
        .el-input__inner {
          padding-right: 18px;
          height: 28px;
          line-height: 28px;
          width: 111px;
          font-size: 12px;
          font-weight: normal;
        }
        .el-select__caret {
          font-size: 12px;
          line-height: 28px;
          width: 10px;
        }
      }
    }
  }

  .info-modal {
    .preview-title {
      position: absolute;
      top: 20px;
      left: 20px;
      height: 24px;
      line-height: 24px;
      .name {
        margin-right: 10px;
        font-size: 18px;
        vertical-align: top;
      }
      .video-btn {
        font-size: 24px;
        &:hover {
          box-shadow: 0 0 3px 1px #1DD3B8;
        }
      }
    }
  }

  .preview-video {
    padding-bottom: 10px;
    width: 100%;
    height: 300px;
    text-align: center;
    background: url("../../assets/imgs/bg_img.png") no-repeat center;
    background-size: auto 100%;
    img {
      height: 100%;
      width: 100%;
    }
    .video-player {
      margin: auto;
      height: 100%;
      width: 100%;
      .video-js {
        padding: 0;
        height: 100%;
        width: 100%;
      }
      .vjs-big-play-button {
        margin-top: -20px!important;
        margin-left: -30px!important;
        width: 60px;
        height: 40px!important;
        line-height: 40px!important;
        font-size: 24px;
      }
    }
  }

  .el-tabs {
    .el-tabs__nav-wrap {
      &::after {
        height: 1px;
        background-color: #1DD3B8;
      }
      .el-tabs__active-bar {
        height: 0;
      }
      .el-tabs__item {
        font-weight: 400;
        font-size: 16px;
        &.is-active {
          background-color: #1DD3B8;
          color: #fff;
        }
        &.is-top:nth-child(2) {
          padding-left: 20px;
        }
        &.is-top:last-child {
          padding-right: 20px;
        }
      }
    }
    .el-tab-pane {
      font-size: 0;
      height: 350px;
      .basic-list {
        margin-top: 5px;
        margin-left: 10px;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        li {
          padding: 10px 0;
          span {
            display: inline-block;
            height: 24px;
            line-height: 24px;
            vertical-align: top;
            &.label {
              display: inline-block;
              width: 130px;
              text-align: right;
              margin-right: 10px;
              color: #666;
              .w2 {
                display: inline-block;
                width: 32px;
              }
              .w3 {
                display: inline-block;
                width: 8px;
              }
            }
            &.value {
              width: 180px;
              border-bottom: 1px solid #1DD3B8;
            }
          }
          .img-wrap {
            margin-top: 5px;
            margin-left: 60px;
            width: 300px;
            height: 200px;
            border: 1px solid #f0f0f0;
            box-sizing: border-box;
            background: url("../../assets/imgs/bg_img.png") no-repeat center;
            background-size: cover;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .img-content {
        margin-top: 15px;
        display: inline-block;
        width: 300px;
        vertical-align: top;
        .title {
          font-size: 16px;
          line-height: 30px;
          color: #606266;
        }
        .img-wrap {
          margin-top: 10px;
          margin-left: 20px;
          width: 100%;
          height: 220px;
          border: 1px solid #DCDFE6;
          box-sizing: border-box;
          border-radius: 4px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .btns {
    width: 100%;
    text-align: center;
    margin-right: 0;
    .el-button {
      width: 120px;
    }
  }
}

.el-select-group__title {
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
}
