<template>
  <div class="equipment-map">
    <div class="view-main">
      <div class="search-wrap">
        <el-input
          v-model="value"
          placeholder="请输入检索设备名称">
          <img slot="prefix" src="../../assets/imgs/icon_search.png">
        </el-input>
        <el-button @click="searchHandle" type="primary">确&nbsp;定</el-button>
      </div>

      <xdh-map :minZoom="5" :maxZoom="15" :center="mapCenter">
        <xdh-map-placement class="length-tool" placement="right-top" :margin="[10, 10]" theme="light">
          <el-button @click="start" v-if="!isStart">开始测距</el-button>
          <el-button @click="stop" v-else>停止测距</el-button>
          <el-select v-model="type">
            <el-option value="length" label="距离"></el-option>
            <el-option value="area" label="面积"></el-option>
          </el-select>
          <div class="mark">
            <label class="mark-label">标注 <i class="el-icon-caret-bottom"></i></label>
            <el-cascader class="mark-cascader" v-model="mark" @change="casChangeHandle" :options="casOptions" :show-all-levels="false"></el-cascader>
          </div>
        </xdh-map-placement>
        <!--<xdh-map-placement class="mark-tool" placement="right-top" :margin="[60, 10]" theme="light">-->
          <!--<label>标注:</label>-->
          <!--<el-cascader v-model="mark" :options="casOptions" :show-all-levels="false"></el-cascader>-->
        <!--</xdh-map-placement>-->
        <xdh-map-pointer placement="right-top"
                         :margin="[60,10]"
                         @copy="handleCopy"></xdh-map-pointer>
        <xdh-map-measure ref="measure" :type="type" ></xdh-map-measure>
        <xdh-map-scale units="metric"></xdh-map-scale>
        <xdh-map-zoom
          placement="right-bottom"
          theme="light"
          :margin="[80, 10]"
        ></xdh-map-zoom>
        <!--<xdh-map-icon-->
          <!--v-for="(stream, index) in streamData"-->
          <!--:key="index"-->
          <!--icon="el-icon-location"-->
          <!--:position="[stream.longitude, stream.latitude]"-->
          <!--@click="handleClick(stream)"-->
        <!--&gt;</xdh-map-icon>-->
        <xdh-map-icon
          v-for="(stream, index) in streamDataGis"
          :key="index"
          :icon="pointIcon"
          :position="[stream.longitude, stream.latitude]"
          @click="handleClick(stream)"
        ></xdh-map-icon>
        <xdh-map-overview placement="left-bottom"
                          :margin="[50, 10]"
                          theme="dark"></xdh-map-overview>
        <xdh-map-type placement="right-bottom"></xdh-map-type>
      </xdh-map>
    </div>

    <!--弹窗-->
    <el-dialog
      :visible.sync="modelVisible"
      width="750px"
      :before-close="closeModal"
      class="info-modal"
    >
      <div class="preview-title">
        <span class="name">{{baseInfo.name}}</span>
        <i @click="openVideoHandle" class="video-btn el-icon-video-camera" :style="{color: isOPen ? '#1DD3B8' : ''}"></i>
      </div>
      <div class="preview-video">
        <!--视频控件-->
        <video-player class="video-player vjs-custom-skin"
                      ref="videoPlayer"
                      v-if="this.player"
                      :playsinline="true"
                      :options="this.player.playerMediaSource.playerOptions"
        ></video-player>
        <img v-if="this.player && projectInfo.pictureUrl" :src="projectInfo.pictureUrl">
      </div>
      <el-tabs v-model="tabActive">
        <el-tab-pane label="基本信息" name="0">
          <ul class="basic-list">
            <li><span class="label">名称</span><span class="value">{{ baseInfo.name }}</span></li>
            <li><span class="label">所属设备</span><span class="value">{{ baseInfo.encoderName }}</span></li>
            <li><span class="label">种类</span><span class="value">{{ baseInfo.streamObjectKindName }}</span></li>
          </ul>
          <ul class="basic-list">
            <li><span class="label">流模式</span><span class="value">{{ baseInfo.streamOpenModeName }}</span></li>
            <li><span class="label">通道号</span><span class="value">{{ baseInfo.encoderVideoInputNum }}</span></li>
            <li><span class="label">所属区域</span><span class="value">{{ baseInfo.regionName }}</span></li>
          </ul>
        </el-tab-pane>
        <el-tab-pane label="设备信息" name="1">
          <ul class="basic-list">
            <li><span class="label">品牌</span><span class="value">{{ deviceInfo.name }}</span></li>
            <li><span class="label">类型</span><span class="value">{{ deviceInfo.model }}</span></li>
            <li><span class="label">规格</span><span class="value">{{ deviceInfo.spec }}</span></li>
          </ul>
          <ul class="basic-list">
            <li><span class="label">IP</span><span class="value">{{ deviceInfo.ip }}</span></li>
            <li><span class="label">端口</span><span class="value">{{ deviceInfo.port }}</span></li>
            <li><span class="label">用户名</span><span class="value">{{ deviceInfo.userName }}</span></li>
          </ul>
          <ul class="basic-list">
            <li><span class="label">经度</span><span class="value">{{ deviceInfo.longitude }}</span></li>
            <li><span class="label">纬度</span><span class="value">{{ deviceInfo.latitude }}</span></li>
            <li><span class="label">最小地图层级</span><span class="value">{{ deviceInfo.minZoom }}</span></li>
          </ul>
        </el-tab-pane>
        <el-tab-pane label="项目信息" name="2">
          <ul class="basic-list">
            <li><span class="label">安装地点</span><span class="value">{{ deviceInfo.installationPlace }}</span></li>
            <li><span class="label">安装日期</span><span class="value">{{ deviceInfo.installationDate ? new Date(deviceInfo.installationDate * 1000).Format('yyyy-MM-dd') : '' }}</span></li>
            <li><span class="label">接入方式</span>
              <span class="value">
                {{
                projectInfo.registryWay === 1 ? '符合sip3261标准'
                  : projectInfo.registryWay === 2 ? '基于口令'
                  : projectInfo.registryWay === 3 ? '基于数字证书'
                    : ''
                }}
              </span>
            </li>
            <li><span class="label">室内室外</span>
              <span class="value">
                {{
                projectInfo.roomType === 0 ? '未使用'
                  : projectInfo.roomType === 1 ? '室外'
                  : projectInfo.roomType === 2 ? '室内'
                    : ''
                }}
              </span>
            </li>
            <li><span class="label">监控方向</span><span class="value">监控方向</span></li>
            <li><span class="label">监控场所</span><span class="value">{{ projectInfo.positionTypeName }}</span></li>
            <li><span class="label">建设单位</span><span class="value">{{ projectInfo.ownerDepartmentName }}</span></li>
          </ul>
          <ul class="basic-list">
            <li><span class="label">用途</span>
              <span class="value">
                {{
                projectInfo.useType === 0 ? '未使用'
                  : projectInfo.useType === 1 ? '治安'
                  : projectInfo.useType === 2 ? '交通'
                    : projectInfo.useType === 3 ? '重点'
                      : ''
                }}
            </span>
            </li>
            <li><span class="label">行政编码</span><span class="value">{{ projectInfo.civilCode }}</span></li>
            <li><span class="label">所属辖区</span><span class="value">{{ projectInfo.block }}</span></li>
            <li><span class="label">信令安全模式</span>
              <span class="value">
                {{
                projectInfo.safetyWay === 0 ? '不采用'
                  : projectInfo.safetyWay === 2 ? 'S/MIME 签名方式'
                  : projectInfo.safetyWay === 3 ? 'S/MIME 加密签名同时采用方式'
                    : projectInfo.safetyWay === 4 ? '数字摘要方式'
                      : ''
                }}
              </span>
            </li>
            <li><span class="label">建设单位联系人</span><span class="value">{{ projectInfo.ownerPersonName }}</span></li>
            <li><span class="label">建设单位联系电话</span><span class="value">{{ projectInfo.ownerPhoneName }}</span></li>
          </ul>
          <!--<ul class="basic-list">-->
            <!--<li>-->
              <!--<span class="label">设备图片</span>-->
              <!--<div class="img-wrap">-->
                <!--<img v-if="projectInfo.pictureUrl" :src="projectInfo.pictureUrl">-->
              <!--</div>-->
            <!--</li>-->
          <!--</ul>-->
        </el-tab-pane>
        <el-tab-pane label="维保信息" name="3">
          <ul class="basic-list">
            <li><span class="label">过保日期</span><span class="value">{{ deviceInfo.expiryDate ? new Date(deviceInfo.expiryDate * 1000).Format('yyyy-MM-dd') : '' }}</span></li>
            <li><span class="label">运维单位</span><span class="value">{{ deviceInfo.maintenanceDepartmentName }}</span></li>
            <li><span class="label">运维负责人</span><span class="value">{{ deviceInfo.maintenancePersonName }}</span></li>
          </ul>
        </el-tab-pane>
      </el-tabs>
      <div class="btns">
        <el-button @click="closeModal" type="primary">确定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script type="text/ecmascript-6">
import EquipmentMap from './EquipmentMap.js'
export default EquipmentMap
</script>

<style lang="scss">
@import "EquipmentMap.scss";
</style>
