<template>
  <div class="ang-layout">
    <div class="layout-header">
      <app-header>
        <app-menu slot="app-menu"></app-menu>
      </app-header>
    </div>
    <div class="layout-content">
      <app-sidebar class="layout-side"
                   :menus="sideMenus"
                   :select="defaultSideSelect"
                   @select="selectSideMenuHandle">
      </app-sidebar>
      <div class="layout-main" :style="{
        left: isCollapse ? '65px' : '200px',
        width: isCollapse ? 'calc(100% - 65px)' : 'calc(100% - 200px)'
      }">
        <app-breadcrumb class="layout-breadcrumb" :breadcrumb="breadcrumb" :style="{left: isCollapse ? '65px' : '200px'}"></app-breadcrumb>
        <div class="layout-view">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import LayoutOperation from './LayoutOperation.js'
export default LayoutOperation
</script>

<style lang="scss">
@import "LayoutOperation.scss";
</style>
