.app-breadcrumb {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #1DD3B8;
  box-sizing: border-box;
  background-color: #fff;
  .el-breadcrumb {
    padding-left: 20px;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    .el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
      color: #1DD3B8;
      font-weight: 400;
    }
    .el-breadcrumb__separator {
      color: #1DD3B8;
      font-weight: bold;
    }
  }
}
