<template>
  <div class="ang-layout-header">
    <div class="title">
      <div class="logo"><img src="" class="logo-img"></div>
      <div class="text">配电站所环境监控系统</div>
      <i class="toggle-btn" :class="toggleBtn ? 'el-icon-s-fold' : 'el-icon-s-unfold'" @click="toggleSideBar"></i>
    </div>
    <slot name="app-menu"></slot>
    <div class="info">
      <div class="welcome">
        <img class="avatar" src="../../assets/imgs/avatar.png">欢迎您，{{username}}
      </div>
      <el-badge :value="3" title="新消息" class="msg">
        <img src="../../assets/imgs/icon_msg.png">
      </el-badge>
      <div class="logout" title="注销登录" @click="logout">
        <img src="../../assets/imgs/icon_logout1.png">
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import AppHeader from './AppHeader.js'
export default AppHeader
</script>

<style lang="scss">
@import "AppHeader.scss";
</style>
