.ang-layout-header {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 80px;
  background-color: #1DD3B8;
  width: 100%;
  min-width: 1600px;
  .title {
    float: left;
    .logo {
      float: left;
      margin: 15px 10px;
      width: 50px;
      height: 50px;
      background-color: #fff;
      overflow: hidden;
      .logo-img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      float: left;
      vertical-align: top;
      margin-left: 20px;
      margin-top: 25px;
      font-size:30px;
      font-weight: 400;
      color: #fff;
    }
    .toggle-btn {
      margin-top: 27px;
      margin-left: 20px;
      vertical-align: top;
      font-size: 28px;
      color: #fff;
    }
  }
  .info {
    float: right;
    display: flex;
    flex-direction: row;
    .welcome {
      margin-right: 25px;
      height: 80px;
      line-height: 80px;
      color: #fff;
      font-size: 18px;
      img {
        margin-right: 10px;
        vertical-align: middle;
        width: 28px;
        height: 28px;
      }
    }
    .msg {
      margin-right: 22px;
      margin-top: 16px;
      padding: 10px 13px;
      height: 28px;
      transition: all 0.3s;
      &:hover {
        background-color: #25a893;
        border-radius: 5px;
      }
      img {
        vertical-align: middle;
        width: 22px;
        height: 28px;
      }
      .el-badge__content.is-fixed {
        top: 50%;
        right: 20px;
        transform: translateY(-100%) translateX(100%);
      }
    }
    .logout {
      margin-right: 20px;
      margin-top: 16px;
      padding: 10px;
      height: 28px;
      transition: all 0.3s;
      &:hover {
        background-color: #25a893;
        border-radius: 5px;
      }
      img {
        vertical-align: middle;
        width: 28px;
        height: 28px;
      }
    }
  }
}
