<template>
  <div class="add-video-task">
    <el-table
      ref="spaceTable"
      :data="spaceTableData"
      height="441"
      stripe
      border
      @selection-change="handleSelectionChange"
      style="width: 100%">
      <el-table-column type="selection" width="40"></el-table-column>
      <el-table-column label="序号" type="index" width="60"></el-table-column>
      <el-table-column label="名称" prop="name"></el-table-column>
      <el-table-column label="本地路径" prop="localPath"></el-table-column>
      <el-table-column label="虚拟路径" prop="virthalPath"></el-table-column>
      <!--<el-table-column label="服务器" prop="serverId"></el-table-column>-->
      <el-table-column label="空间大小" prop="totalSize"></el-table-column>
      <el-table-column label="可用大小" prop="availableSize"></el-table-column>
      <el-table-column label="已用大小" prop="usedSize"></el-table-column>
    </el-table>
    <el-pagination
      background
      @current-change="handleSpaceCurrentChange"
      :current-page.sync="spaceParams.pageNum"
      :page-size="spaceParams.pageSize"
      prev-text="上一页"
      next-text="下一页"
      layout="prev, pager, next, jumper"
      :total="spaceTotalRow">
    </el-pagination>
    <div class="btns">
      <el-button @click="submit" type="primary">确定</el-button>
      <el-button @click="cancel">取消</el-button>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import AddRecordSpace from './AddRecordSpace.js'
export default AddRecordSpace
</script>

<style lang="scss">
@import "AddRecordSpace.scss";
</style>
