.add-video-task {
  padding: 0 10px;
  .el-table {
    .current-row>td {
      background: rgba(76, 235, 188, .3);
    }
    th, td {
      padding: 8px 0;
      text-align: center;
    }
    .col-btn {
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .el-pagination {
    margin: 20px 0;
    text-align: right;
    font-weight: 400;
    &.is-background {
      .btn-prev, .btn-next, .el-pager li {
        margin: 0 2px;
      }
    }
    span:not([class*=suffix]) {
      min-width: 60px;
    }
  }
  .btns {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-right: 0;
    .el-button {
      width: 120px;
    }
    .el-button+.el-button {
      margin-left: 30px;
    }
  }
}
