<template>
  <div class="add-video-task">
    <el-form inline class="video-task-form" labelWidth="120px">
      <el-form-item label="名称" prop="name">
        <el-input v-model="params.name" placeholder="请输入名称"></el-input>
      </el-form-item>
      <el-form-item label="运行方式" prop="runMode">
        <el-select v-model="params.runMode" placeholder="请选择运行方式">
          <el-option label="手动" value="0"></el-option>
          <el-option label="自动" value="1"></el-option>
          <el-option label="计划" value="2"></el-option>
          <el-option label="事件触发" value="3"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="录像方式" prop="recordMethod">
        <el-select v-model="params.recordMethod" placeholder="请选择录像方式">
          <el-option label="本地录像" value="0"></el-option>
          <el-option label="远程录像" value="1"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="流打开模式" prop="streamOpenMode">
        <el-select v-model="params.streamOpenMode" placeholder="请选择流打开模式">
          <el-option label="主码流" value="0"></el-option>
          <el-option label="子码流" value="1"></el-option>
          <el-option label="子码流2" value="2"></el-option>
          <el-option label="由视频节点自身属性决定" value="255"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="录像文件格式" prop="recordFileFormat">
        <el-select v-model="params.recordFileFormat" placeholder="请选择录像文件格式">
          <el-option label="原始流" value="0"></el-option>
          <el-option label="自定义封装" value="1"></el-option>
          <el-option label="mp4" value="2"></el-option>
          <el-option label="flv" value="3"></el-option>
          <el-option label="其他" value="254"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="录像间隔" prop="recordInterval">
        <el-input v-model.number="params.recordInterval" class="slot-input" placeholder="请输入录像间隔">
          <template slot="append">秒</template>
        </el-input>
      </el-form-item>
      <el-form-item label="录像文件大小" prop="recordFileSize">
        <el-input v-model.number="params.recordFileSize" placeholder="请输入录像文件大小（输入0表示不限制）"></el-input>
      </el-form-item>
      <el-form-item label="运行时刻表" prop="runScheduleId">
        <el-select v-model="params.runScheduleId" placeholder="请选择运行时刻表">
          <el-option label="不按时刻表运行" value="0"></el-option>
          <el-option label="按时刻表运行" value="1"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="录像存储服务" prop="serviceId">
        <el-select v-model="params.serviceId" placeholder="请选择录像存储服务">
          <el-option label="不限定附属服务" value="0"></el-option>
          <el-option
            v-for="(item, index) in serviceData"
            :key="'service' + index"
            :value="item.id"
            :label="item.name"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="适用范围" prop="scope">
        <el-select v-model="params.scope" placeholder="请选择适用范围">
          <el-option label="由录像任务2视频节点决定" value="0"></el-option>
          <el-option label="所有视频节点" value="1"></el-option>
        </el-select>
      </el-form-item>
      <!--<el-form-item label="任务状态" prop="name">-->
      <!--<el-input></el-input>-->
      <!--</el-form-item>-->
      <el-form-item class="form-btns">
        <el-button @click="submit" type="primary">确定</el-button>
        <el-button @click="cancel">取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script type="text/ecmascript-6">
import ModifyVideoTask from './ModifyVideoTask.js'
export default ModifyVideoTask
</script>

<style lang="scss">
@import "ModifyVideoTask.scss";
</style>
