.add-video-task {
  padding: 0 30px;
  .video-task-form {
    .el-form-item {
      margin-top: 15px;
      margin-bottom: 5px;
      .el-form-item__label {
        font-size: 14px;
        line-height: 30px;
      }
      .el-form-item__content {
        line-height: 30px;
        .el-input {
          font-size: 14px;
          .el-input__inner {
            width: 300px;
            height: 30px;
            line-height: 30px;
          }
          .el-input__icon {
            line-height: 30px;
          }
          &.slot-input {
            .el-input__inner {
              width: 245px;
            }
          }
        }
      }
    }
    .form-btns {
      width: 100%;
      text-align: center;
      margin-top: 30px;
      margin-right: 0;
      .el-button {
        width: 120px;
      }
      .el-button+.el-button {
        margin-left: 30px;
      }
    }
  }
}
