<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
  html, body, #app {
    width: 100%;
    height: 100%;
    min-width: 1600px;
    min-height: 900px;
  }
  .ang-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    background: #ECECEC;
    min-height: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .el-tree-node__expand-icon {
    font-size: 16px;
    color: #666;
    font-weight: bold;
  }
  .el-icon-caret-right:before {
    content: '\e6df';
  }
</style>
