<template>
  <div class="login">
    <div class="bg">
      <img src="../../assets/imgs/bg_login.png">
    </div>
    <h1 class="header">
      <div class="logo">
        <img class="logo-img" src="" alt="">
      </div>
      <div class="title">配电站所环境监控系统</div>
    </h1>
    <div class="main">
      <div class="left"></div>
      <div class="right">
        <div class="login-form">
          <div class="form-title">配电站所环境监控系统用户登陆</div>
          <div class="form-wrapper">
            <el-form :model="loginForm" ref="loginForm" :rules="rules">
              <el-form-item prop="name">
                <el-input v-model="loginForm.name" placeholder="请输入用户名">
                  <i slot="prefix" class="el-input__icon el-icon-username"></i>
                </el-input>
              </el-form-item>
              <el-form-item prop="password">
                <el-input v-model="loginForm.password" type="password" placeholder="请输入密码">
                  <i slot="prefix" class="el-input__icon el-icon-password"></i>
                </el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="submitForm('loginForm')">登&nbsp;&nbsp;录</el-button>
              </el-form-item>
            </el-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import Login from './Login.js'
export default Login
</script>

<style lang="scss">
@import "Login.scss";
</style>
