.login {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    img {
      width: 110%;
      height: 115%;
    }
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #1DD3B8;
    .logo {
      float: left;
      margin: 15px 10px;
      width: 50px;
      height: 50px;
      background-color: #fff;
      overflow: hidden;
      .logo-img {
        width: 100%;
        height: 100%;
      }
    }
    .title {
      float: left;
      margin-left: 20px;
      margin-top: 25px;
      font-size:30px;
      font-weight: 400;
      color: #fff;
    }
  }
  .main {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    width: 1372px;
    height: 500px;
    .left {
      float: left;
      margin-right: 170px;
      margin-top: 50px;
      width: 610px;
      height: 415px;
      background: url("../../assets/imgs/left_login.png") left;
      background-size: 100% 100%;
    }
    .right {
      float: left;
      padding-left: 150px;
      border-left: 1px solid #1DD3B8;
      height: 100%;
      .login-form {
        margin-top: 72px;
        width: 440px;
        .form-title {
          margin-bottom: 50px;
          font-size: 28px;
          font-weight: 400;
          font-family: "Source Code Pro";
          color: rgba(206,206,206,1);
          text-align: center;
        }
        .form-wrapper {
          .el-form {
            .el-form-item {
              margin-bottom: 50px;
              .el-input__inner {
                padding-left: 63px;
                //padding-right: 32px;
                border-radius: 30px;
                height: 60px;
                line-height: 60px;
                font-size: 16px;
              }
              .el-button {
                padding: 0;
                width: 100%;
                height: 60px;
                line-height: 60px;
                font-size: 22px;
                border-radius: 30px;
                box-shadow: 0 5px 5px rgb(205, 237, 231);
              }
              .el-input__prefix {
                left: 25px;
                .el-input__icon {
                  margin-top: 16px;
                  height: 28px;
                  width: 28px;
                  &.el-icon-username {
                    background: url("../../assets/imgs/icon_username.png") no-repeat left;
                    background-size: 28px 28px;
                  }
                  &.el-icon-password {
                    background: url("../../assets/imgs/icon_password.png") no-repeat left;
                    background-size: 28px 28px;
                  }
                }
              }
              .el-input__suffix {
                .el-icon-circle-close {
                  padding-top: 5px;
                  font-size: 24px;
                  box-sizing: border-box;
                }
              }
              .el-form-item__error {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
