<template>
  <div class="video-camera table-page">
    <div class="view-main">
      <div class="search-section">
        <div class="form-item">
          <div class="form-label">建档状态</div>
          <div class="form-content">
            <el-checkbox-group v-model="status">
              <el-checkbox label="1">未开始</el-checkbox>
              <el-checkbox label="2">部分完成</el-checkbox>
              <el-checkbox label="4">全部完成</el-checkbox>
            </el-checkbox-group>
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">区域</div>
          <div class="form-content">
            <el-cascader
              clearable
              placeholder="请选择区域"
              v-model="area"
              :options="areaOptions"
              :props="cascaderProps"></el-cascader>
          </div>
        </div>
        <br>
        <div class="form-item">
          <div class="form-label">创建日期</div>
          <div class="form-content">
            <el-date-picker
              v-model="date"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期">
            </el-date-picker>
            <div class="shortcuts">
              <a href="javascript:;"
                 v-for="(item, index) in shortcuts"
                 :key="'sc' + index"
                 :class="item.key === currentShortcuts ? 'shortcuts-btn-active' : ''"
                 @click="selectShortcuts(item.key)"
                 class="shortcuts-btn">{{item.label}}</a>
            </div>
          </div>
        </div>
        <div class="form-item">
          <el-button @click="searchHandle" type="primary">查 询</el-button>
          <el-button @click="resetHandle" type="primary">重 置</el-button>
        </div>
      </div>
      <div class="table-section">
        <div class="table-btns">
<!--          <el-button @click="openAddModal" type="primary">新 增</el-button>-->
          <el-button type="primary">更 多</el-button>
        </div>
        <div class="table-wrap">
          <el-table
            ref="myTable"
            :data="tableData"
            highlight-current-row
            @current-change="handleSelectRow"
            height="491" stripe border style="width: 100%">
            <el-table-column type="selection" width="40"></el-table-column>
            <el-table-column label="序号" type="index" width="60"></el-table-column>
            <el-table-column label="名称" prop="name" width="180"></el-table-column>
            <el-table-column label="所属设备" prop="encoderName" width="180"></el-table-column>
            <el-table-column label="种类" prop="streamObjectKindName" width="160"></el-table-column>
            <el-table-column label="通道号" prop="encoderVideoInputNum" width="100"></el-table-column>
            <el-table-column label="IP" prop="ip" width="140"></el-table-column>
            <el-table-column label="端口" prop="port"></el-table-column>
            <el-table-column label="型号" prop="model"></el-table-column>
            <el-table-column label="过保日期" prop="expiryDate"></el-table-column>
            <el-table-column label="所在区域" prop="regionName" :show-overflow-tooltip="true"></el-table-column>
            <el-table-column label="状态" prop="alarmStateName" width="100"></el-table-column>
            <el-table-column label="操作" width="100">
              <template slot-scope="scope">
                <a @click="openAddModal(scope.row)" href="javascript:;" class="col-btn"><img src="../../assets/imgs/icon_table-edit.png"/></a>
<!--                <a href="javascript:;" class="col-btn"><img src="../../assets/imgs/icon_table-del.png"/></a>-->
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="videoParams.pageNum"
            :page-size="videoParams.pageSize"
            prev-text="上一页"
            next-text="下一页"
            layout="prev, pager, next, jumper"
            :total="totalRow">
          </el-pagination>
        </div>
      </div>
      <div class="info-section">
        <el-tabs v-model="infoTabActive">
          <el-tab-pane label="基本信息" name="0">
            <ul class="basic-list">
              <li><span class="label">名称</span><span class="value">{{ baseInfo.name }}</span></li>
              <li><span class="label">所属设备</span><span class="value">{{ baseInfo.encoderName }}</span></li>
              <li><span class="label">种类</span><span class="value">{{ baseInfo.streamObjectKindName }}</span></li>
            </ul>
            <ul class="basic-list">
              <li><span class="label">流模式</span><span class="value">{{ baseInfo.streamOpenModeName }}</span></li>
              <li><span class="label">通道号</span><span class="value">{{ baseInfo.encoderVideoInputNum }}</span></li>
              <li><span class="label">所属区域</span><span class="value">{{ baseInfo.regionName }}</span></li>
            </ul>
          </el-tab-pane>
          <el-tab-pane label="设备信息" name="1">
            <ul class="basic-list">
              <li><span class="label">品牌</span><span class="value">{{ deviceInfo.name }}</span></li>
              <li><span class="label">类型</span><span class="value">{{ deviceInfo.model }}</span></li>
              <li><span class="label">规格</span><span class="value">{{ deviceInfo.spec }}</span></li>
            </ul>
            <ul class="basic-list">
              <li><span class="label">IP</span><span class="value">{{ deviceInfo.ip }}</span></li>
              <li><span class="label">端口</span><span class="value">{{ deviceInfo.port }}</span></li>
              <li><span class="label">用户名</span><span class="value">{{ deviceInfo.userName }}</span></li>
            </ul>
            <ul class="basic-list">
              <li><span class="label">经度</span><span class="value">{{ deviceInfo.longitude }}</span></li>
              <li><span class="label">纬度</span><span class="value">{{ deviceInfo.latitude }}</span></li>
              <li><span class="label">最小地图层级</span><span class="value">{{ deviceInfo.minZoom }}</span></li>
            </ul>
          </el-tab-pane>
          <el-tab-pane label="项目信息" name="2">
            <ul class="basic-list">
              <li><span class="label">安装地点</span><span class="value">{{ deviceInfo.installationPlace }}</span></li>
              <li><span class="label">安装日期</span><span class="value">{{ deviceInfo.installationDate ? new Date(deviceInfo.installationDate * 1000).Format('yyyy-MM-dd') : '' }}</span></li>
              <li><span class="label">信令安全模式</span>
                <span class="value">
                  {{
                    projectInfo.safetyWay === 0 ? '不采用'
                      : projectInfo.safetyWay === 2 ? 'S/MIME 签名方式'
                        : projectInfo.safetyWay === 3 ? 'S/MIME 加密签名同时采用方式'
                          : projectInfo.safetyWay === 4 ? '数字摘要方式'
                            : ''
                  }}
                </span>
              </li>
              <li><span class="label">接入方式</span>
                <span class="value">
                  {{
                    projectInfo.registryWay === 1 ? '符合sip3261标准'
                      : projectInfo.registryWay === 2 ? '基于口令'
                        : projectInfo.registryWay === 3 ? '基于数字证书'
                            : ''
                  }}
                </span>
              </li>
              <li><span class="label">建设单位</span><span class="value">{{ projectInfo.ownerDepartmentName }}</span></li>
            </ul>
            <ul class="basic-list">
              <li><span class="label">建设单位联系人</span><span class="value">{{ projectInfo.ownerPersonName }}</span></li>
              <li><span class="label">建设单位联系电话</span><span class="value">{{ projectInfo.ownerPhoneName }}</span></li>
              <li><span class="label">行政编码</span><span class="value">{{ projectInfo.civilCode }}</span></li>
              <li><span class="label">所属辖区</span><span class="value">{{ projectInfo.block }}</span></li>
              <li><span class="label">室内室外</span>
                <span class="value">
                  {{
                    projectInfo.roomType === 0 ? '未使用'
                      : projectInfo.roomType === 1 ? '室外'
                      : projectInfo.roomType === 2 ? '室内'
                        : ''
                  }}
                </span>
              </li>
            </ul>
            <ul class="basic-list">
              <li><span class="label">用<span class="w2"></span>途</span>
                <span class="value">
                  {{
                    projectInfo.useType === 0 ? '未使用'
                      : projectInfo.useType === 1 ? '治安'
                      : projectInfo.useType === 2 ? '交通'
                      : projectInfo.useType === 3 ? '重点'
                        : ''
                    }}
                </span>
              </li>
              <li><span class="label">监控方向</span><span class="value">监控方向</span></li>
              <li><span class="label">监控场所</span><span class="value">{{ projectInfo.positionTypeName }}</span></li>
            </ul>
            <ul class="basic-list">
              <li>
                <span class="label" style="width: 72px;">设备图片</span>
                <div class="img-wrap">
                  <img v-if="projectInfo.pictureUrl" :src="projectInfo.pictureUrl">
                </div>
              </li>
            </ul>
          </el-tab-pane>
          <el-tab-pane label="维保信息" name="3">
            <ul class="basic-list">
              <li><span class="label">过保日期</span><span class="value">{{ deviceInfo.expiryDate ? new Date(deviceInfo.expiryDate * 1000).Format('yyyy-MM-dd') : '' }}</span></li>
              <li><span class="label">运维单位</span><span class="value">{{ deviceInfo.maintenanceDepartmentName }}</span></li>
              <li><span class="label">运维负责人</span><span class="value">{{ deviceInfo.maintenancePersonName }}</span></li>
            </ul>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>

    <!-- 修改弹窗 -->
    <el-dialog
      title="修改摄像机"
      :visible.sync="streamModelVisible"
      width="1100px"
      :before-close="closeAddModal"
      class="modify-modal"
    >
      <el-form ref="modifyForm" inline class="modify-form">
        <el-tabs v-model="modifyTabActive">
          <el-tab-pane label="基本信息" name="0">
            <ul class="basic-list">
              <li><span class="label">名称</span><span class="value">{{ baseInfo.name }}</span></li>
              <li><span class="label">所属设备</span><span class="value">{{ baseInfo.encoderName }}</span></li>
              <li><span class="label">种类</span><span class="value">{{ baseInfo.streamObjectKindName }}</span></li>
            </ul>
            <ul class="basic-list">
              <li><span class="label">流模式</span><span class="value">{{ baseInfo.streamOpenModeName }}</span></li>
              <li><span class="label">通道号</span><span class="value">{{ baseInfo.encoderVideoInputNum }}</span></li>
              <li><span class="label">所属区域</span><span class="value">{{ baseInfo.regionName }}</span></li>
            </ul>
          </el-tab-pane>
          <el-tab-pane label="设备信息" name="1">
            <el-form-item label="品牌" prop="name">
              <el-input v-model="auxMonitoringDevice.name"></el-input>
            </el-form-item>
            <el-form-item label="用户名" prop="userName">
              <el-input v-model="auxMonitoringDevice.userName"></el-input>
            </el-form-item>
            <el-form-item label="型号" prop="model">
              <el-input v-model="auxMonitoringDevice.model"></el-input>
            </el-form-item>
            <!--<el-form-item label="密码" prop="password">-->
              <!--<el-input v-model="auxMonitoringDevice.password"></el-input>-->
            <!--</el-form-item>-->
            <el-form-item label="经度" prop="longitude">
              <el-input v-model="auxMonitoringDevice.longitude"></el-input>
            </el-form-item>
            <el-form-item label="规格" prop="spec">
              <el-input v-model="auxMonitoringDevice.spec"></el-input>
            </el-form-item>
            <el-form-item label="纬度" prop="latitude">
              <el-input v-model="auxMonitoringDevice.latitude"></el-input>
            </el-form-item>
            <el-form-item label="IP" prop="ip">
              <el-input v-model="auxMonitoringDevice.ip"></el-input>
            </el-form-item>
            <el-form-item label="最小地图层级" prop="minZoom">
              <el-input v-model="auxMonitoringDevice.minZoom"></el-input>
            </el-form-item>
            <el-form-item label="端口" prop="port">
              <el-input v-model="auxMonitoringDevice.port"></el-input>
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="项目信息" name="2">
            <div class="form-content">
              <el-form-item label="信令安全模式" prop="safeWay">
                <el-select v-model="auxMonitoringDeviceProjectInfo.safeWay" placeholder="请选择">
                  <el-option label="不采用" value="0"></el-option>
                  <el-option label="S/MIME 签名方式" value="2"></el-option>
                  <el-option label="S/MIME 加密签名同时采用方式" value="3"></el-option>
                  <el-option label="数字摘要方式" value="4"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="建设单位联系电话" prop="ownerPhone">
                <el-input v-model="auxMonitoringDeviceProjectInfo.ownerPhone"></el-input>
              </el-form-item>
              <el-form-item label="用途" prop="useType">
                <el-select v-model="auxMonitoringDeviceProjectInfo.useType" placeholder="请选择">
                  <el-option label="未使用" value="0"></el-option>
                  <el-option label="治安" value="1"></el-option>
                  <el-option label="交通" value="2"></el-option>
                  <el-option label="重点" value="3"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="接入方式" prop="registerWay">
                <el-select v-model="auxMonitoringDeviceProjectInfo.registerWay" placeholder="请选择">
                  <el-option label="符合sip3261标准" value="1"></el-option>
                  <el-option label="基于口令" value="2"></el-option>
                  <el-option label="基于数字证书" value="3"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="安装日期" prop="installationDate">
                <el-date-picker v-model="dateInput.installationDate" value-format="timestamp" type="date" placeholder="请选择"></el-date-picker>
              </el-form-item>
              <el-form-item label="室内室外" prop="roomType">
                <el-select v-model="auxMonitoringDeviceProjectInfo.roomType" placeholder="请选择">
                  <el-option label="未使用" value="0"></el-option>
                  <el-option label="室外" value="1"></el-option>
                  <el-option label="室内" value="2"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="密级程度" prop="secrecy">
                <el-select v-model="auxMonitoringDeviceProjectInfo.secrecy" placeholder="请选择">
                  <el-option label="不涉密" value="0"></el-option>
                  <el-option label="涉密" value="1"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="监控方向" prop="assetNum">
                <el-input v-model="anzhuangfangxiang"></el-input>
              </el-form-item>
              <el-form-item label="行政编码" prop="civilCode">
                <el-input v-model="auxMonitoringDeviceProjectInfo.civilCode"></el-input>
              </el-form-item>
              <el-form-item label="建设单位" prop="ownerDepartmentName">
                <el-select v-model="auxMonitoringDeviceProjectInfo.ownerDepartmentId" placeholder="请选择">
                  <el-option
                    v-for="(item, index) in departmentData"
                    :key="'depart' + index"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="监控场所" prop="positionType">
                <el-select v-model="auxMonitoringDeviceProjectInfo.positionType" placeholder="请选择">
                  <el-option label="未使用" value="0"></el-option>
                  <el-option label="省际检查站" value="1"></el-option>
                  <el-option label="党政机关" value="2"></el-option>
                  <el-option label="车站码头" value="3"></el-option>
                  <el-option label="中心广场" value="4"></el-option>
                  <el-option label="体育场馆" value="5"></el-option>
                  <el-option label="商业中心" value="6"></el-option>
                  <el-option label="宗教场所" value="7"></el-option>
                  <el-option label="校园周边" value="8"></el-option>
                  <el-option label="治安复杂区域" value="9"></el-option>
                  <el-option label="交通干线" value="10"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="建设单位联系人" prop="ownerPersonName">
                <el-select v-model="auxMonitoringDeviceProjectInfo.ownerPersonId" placeholder="请选择">
                  <el-option
                    v-for="(item, index) in personData"
                    :key="'person' + index"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="所属辖区" prop="block">
                <el-input v-model="auxMonitoringDeviceProjectInfo.block"></el-input>
              </el-form-item>
            </div>
            <div class="img-content">
              <div class="title">现场照片</div>
              <div class="img-wrap">
                <img v-if="auxMonitoringDeviceProjectInfo.pictureUrl" :src="auxMonitoringDeviceProjectInfo.pictureUrl" alt="">
              </div>
              <el-upload
                class="upload"
                :action="uploadUrl"
                :show-file-list="false"
                :before-upload="beforeUpload"
                :on-success="uploadSuccess">
                <el-button type="primary">点击上传</el-button>
              </el-upload>
            </div>
          </el-tab-pane>
          <el-tab-pane label="运维信息" name="3">
            <el-form-item label="过保日期" prop="expiryDate">
              <el-date-picker v-model="dateInput.expiryDate" value-format="timestamp" type="date" placeholder="请选择"></el-date-picker>
            </el-form-item>
            <el-form-item label="运维单位" prop="maintenanceDepartmentId">
              <el-select v-model="auxMonitoringDevice.maintenanceDepartmentId" placeholder="请选择">
                <el-option
                  v-for="(item, index) in departmentData"
                  :key="'depart' + index"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="运维负责人" prop="maintenancePersonId">
              <el-select v-model="auxMonitoringDevice.maintenancePersonId" placeholder="请选择">
                <el-option
                  v-for="(item, index) in personData"
                  :key="'person' + index"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-tab-pane>
        </el-tabs>
        <el-form-item class="form-btns">
          <el-button @click="submitModifyHandle" type="primary">确定</el-button>
          <el-button @click="cancelModifyHandle">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script type="text/ecmascript-6">
import VideoCamera from './VideoCamera.js'
export default VideoCamera
</script>

<style lang="scss">
@import "../../styles/tablePage.scss";
@import "VideoCamera.scss";
</style>
