.video-camera {
  min-height: 1050px;
  background-color: #ECECEC;
  .info-section {
    padding: 20px 15px;
    border-top: 2px solid #ECECEC;
    .el-tabs {
      .el-tabs__nav-wrap {
        &::after {
          height: 1px;
          background-color: #1DD3B8;
        }
        .el-tabs__active-bar {
          height: 0;
        }
        .el-tabs__item {
          font-weight: 400;
          font-size: 16px;
          &.is-active {
            background-color: #1DD3B8;
            color: #fff;
          }
          &.is-top:nth-child(2) {
            padding-left: 20px;
          }
          &.is-top:last-child {
            padding-right: 20px;
          }
        }
      }
      .el-tab-pane {
        font-size: 0;
        height: 245px;
        .basic-list {
          margin-top: 5px;
          margin-left: 20px;
          display: inline-block;
          vertical-align: top;
          font-size: 16px;
          &:first-child {
            margin-left: 0;
          }
          li {
            padding: 10px 0;
            span {
              display: inline-block;
              height: 24px;
              line-height: 24px;
              vertical-align: top;
              &.label {
                display: inline-block;
                width: 130px;
                text-align: right;
                margin-right: 10px;
                color: #666;
                .w2 {
                  display: inline-block;
                  width: 32px;
                }
                .w3 {
                  display: inline-block;
                  width: 8px;
                }
              }
              &.value {
                width: 180px;
                border-bottom: 1px solid #1DD3B8;
              }
            }
            .img-wrap {
              margin-top: 5px;
              margin-left: 10px;
              width: 300px;
              height: 200px;
              border: 1px solid #f0f0f0;
              box-sizing: border-box;
              background: url("../../assets/imgs/bg_img.png") no-repeat center;
              background-size: cover;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.modify-modal {
  .modify-form {
    .el-tabs {
      .el-tabs__nav-wrap {
        &::after {
          height: 1px;
          background-color: #1DD3B8;
        }
        .el-tabs__active-bar {
          height: 0;
        }
        .el-tabs__item {
          font-weight: 400;
          font-size: 16px;
          &.is-active {
            background-color: #1DD3B8;
            color: #fff;
          }
          &.is-top:nth-child(2) {
            padding-left: 20px;
          }
          &.is-top:last-child {
            padding-right: 20px;
          }
        }
      }
      .el-tab-pane {
        font-size: 0;
        height: 380px;
        .basic-list {
          margin-top: 5px;
          margin-left: 20px;
          display: inline-block;
          vertical-align: top;
          font-size: 16px;
          li {
            padding: 10px 0;
            span {
              display: inline-block;
              height: 24px;
              line-height: 24px;
              vertical-align: top;
              &.label {
                margin-right: 10px;
                color: #666;
                display: inline-block;
                width: 65px;
                text-align: right;
                .w2 {
                  display: inline-block;
                  width: 32px;
                }
                .w3 {
                  display: inline-block;
                  width: 8px;
                }
              }
              &.value {
                width: 180px;
                border-bottom: 1px solid #1DD3B8;
              }
            }
          }
        }
        .el-form-item {
          margin-top: 15px;
          margin-bottom: 5px;
          .el-form-item__label {
            font-size: 16px;
            width: 150px;
            line-height: 30px;
          }
          .el-form-item__content {
            line-height: 30px;
            width: 200px;
            .el-input {
              font-size: 16px;
              width: 200px;
              .el-input__inner {
                height: 30px;
                line-height: 30px;
              }
              .el-input__icon {
                line-height: 1!important;
              }
            }
          }
        }
        .form-content {
          display: inline-block;
          width: 750px;
          vertical-align: top;
        }
        .img-content {
          margin-top: 15px;
          display: inline-block;
          width: 300px;
          vertical-align: top;
          .title {
            font-size: 16px;
            line-height: 30px;
            color: #606266;
          }
          .img-wrap {
            margin-top: 10px;
            width: 100%;
            height: 220px;
            border: 1px solid #DCDFE6;
            box-sizing: border-box;
            border-radius: 4px;
            overflow: hidden;
            background: url("../../assets/imgs/bg_img.png") no-repeat center;
            background-size: cover;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .upload, .el-upload {
            margin-top: 10px;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .form-btns {
      width: 100%;
      text-align: center;
      margin-right: 0;
      .el-button {
        width: 120px;
      }
      .el-button+.el-button {
        margin-left: 30px;
      }
    }
  }
}
