<template>
  <div class="annular-pie" ref="annularPie"></div>
</template>

<script type="text/ecmascript-6">
import AnnularPie from './AnnularPie.js'
export default AnnularPie
</script>

<style lang="scss">
@import "AnnularPie.scss";
</style>
