.video-diagnostic-status {
  padding: 5px 5px 0 5px;
  height: 100%;
  box-sizing: border-box;
  .view-main {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #fff;
    height: 100%;
    .tree-wrap {
      //width: 280px;
      height: calc(100% - 320px);
      overflow-y: auto;
      .el-tree {
        .el-tree-node {
          .el-tree-node__content {
            position: relative;
            height: 40px;
            line-height: 40px;
            .el-tree-node__expand-icon {
              position: absolute;
              right: 20px;
              font-size: 16px;
            }
            .custom-tree-node {
              padding-left: 20px;
              font-size: 0;
              .icon-tree-node {
                display: inline-block;
                vertical-align: middle;
                width: 18px;
                height: 18px;
                &.parent-node-tree-icon {
                  background: url("../../assets/imgs/icon_tree_p.png") no-repeat;
                  background-size: 18px 18px;
                }
                // 球形机
                &.qiu-node-tree-icon {
                  background: url("../../assets/imgs/icon_qiu.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiu-node-tree-icon-open {
                  background: url("../../assets/imgs/icon_qiu_o.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiu-node-tree-icon-warn {
                  background: url("../../assets/imgs/icon_qiu_w.png") no-repeat;
                  background-size: 18px 18px;
                }
                &.qiu-node-tree-icon-disabled {
                  background: url("../../assets/imgs/icon_qiu_d.png") no-repeat;
                  background-size: 18px 18px;
                }
              }
              .label-tree-node {
                padding-left: 14px;
                font-size: 16px;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
    .right-side {
      flex: 1;
      //float: left;
      //width: calc(100% - 280px);
      overflow: hidden;
      height: 100%;
      border-left: 2px solid #ECECEC;
      box-sizing: border-box;
      .search-section {
        padding: 5px 15px;
        .form-item {
          display: inline-block;
          margin-right: 30px;
          padding: 10px 0;
          .form-label {
            display: inline-block;
            font-size: 16px;
            color: #333;
            margin-right: 10px;
          }
          .form-content {
            display: inline-block;
            .el-input__inner {
              height: 24px;
            }
            .el-input__icon {
              line-height: 24px;
            }
            .el-date-editor {
              .el-icon-date, .el-range-separator, .el-input__icon {
                line-height: 16px;
              }
            }
            .shortcuts {
              display: inline-block;
              margin-left: 15px;
              font-size: 0;
              .shortcuts-btn {
                display: inline-block;
                margin-right: 10px;
                font-size: 12px;
                width: 36px;
                height: 24px;
                line-height: 22px;
                text-align: center;
                box-sizing: border-box;
                border: 1px solid #1DD3B8;
                color: #666;
                &:last-child {
                  margin-right: 0;
                }
                &.shortcuts-btn-active {
                  background-color: #1DD3B8;
                  color: #fff;
                }
              }
            }
            .el-checkbox-group {
              .el-checkbox {
                margin-right: 10px;
                color: #666;
                font-weight: 400;
                .el-checkbox__inner {
                  width: 18px;
                  height: 18px;
                  &::after {
                    top: 0;
                    left: 5px;
                    width: 5px;
                    height: 10px;
                  }
                }
                .el-checkbox__label {
                  padding-left: 5px;
                }
              }
            }
          }
          .el-button {
            padding: 0;
            height: 24px;
            width: 50px;
            font-weight: 400;
          }
        }
      }
      .table-section {
        .table-wrap {
          padding: 0 10px;
          .el-table {
            th, td {
              padding: 8px 0;
              text-align: center;
            }
            .td-state {
              display: inline-block;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              &.com {
                background-color: #41CF87;
              }
              &.err {
                background-color: #FF0000;
              }
              &.unk {
                background-color: #72777b;
              }
            }
          }
          .el-pagination {
            margin: 20px 0;
            text-align: right;
            font-weight: 400;
            &.is-background {
              .btn-prev, .btn-next, .el-pager li {
                margin: 0 2px;
              }
            }
            span:not([class*=suffix]) {
              min-width: 60px;
            }
          }
        }
      }
    }
  }
}
