<template>
  <div class="video-diagnostic-status">
    <div class="view-main">
      <app-tree-side :isClose="isClose" @toggle="toggleTreeSide">
        <div class="tree-wrap">
          <el-tree
            ref="myTree"
            :data="streamNodeTreeData"
            node-key="id"
            default-expand-all
            highlight-current
            :expand-on-click-node="false"
            @node-click="onTreeItemSelect"
          >
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>
                <i class="icon-tree-node"
                   :class="data.type === 'region' ? 'parent-node-tree-icon'
                   : data.slots.icon === 'open' ? 'qiu-node-tree-icon-open'
                   : 'qiu-node-tree-icon'"
                ></i>
                <span class="label-tree-node">{{ node.label }}</span>
              </span>
            </span>
          </el-tree>
        </div>
      </app-tree-side>
      <div class="right-side">
        <div class="search-section">
          <div class="form-item">
            <div class="form-label">运行模式</div>
            <div class="form-content">
              <el-checkbox-group v-model="model">
                <el-checkbox label="1">正常</el-checkbox>
                <el-checkbox label="2">报警</el-checkbox>
                <el-checkbox label="4">未知</el-checkbox>
              </el-checkbox-group>
            </div>
          </div>
          <div class="form-item">
            <el-button @click="searchHandle" type="primary">查 询</el-button>
            <el-button @click="resetHandle" type="primary">重 置</el-button>
          </div>
        </div>
        <div class="table-section">
          <div class="table-wrap">
            <el-table :data="tableData" height="800" stripe border style="width: 100%">
              <el-table-column label="序号" type="index" width="60"></el-table-column>
              <el-table-column label="区域" prop="regionName" width="160"></el-table-column>
              <el-table-column label="节点名称" prop="name"></el-table-column>
              <el-table-column label="偏色" prop="colorCast" width="50">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.colorCast === 0 ? 'com'
                         : scope.row.colorCast === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="条纹" prop="striage" width="50">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.striage === 0 ? 'com'
                         : scope.row.striage === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="偏暗" prop="brightLow" width="50">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.brightLow === 0 ? 'com'
                         : scope.row.brightLow === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="偏亮" prop="brightHigh" width="50">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.brightHigh === 0 ? 'com'
                         : scope.row.brightHigh === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="画面抖动" prop="shake" width="80">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.shake === 0 ? 'com'
                         : scope.row.shake === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="视频丢失" prop="lost" width="80">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.lost === 0 ? 'com'
                         : scope.row.lost === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="画面冻结" prop="freeze" width="80">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.freeze === 0 ? 'com'
                         : scope.row.freeze === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="画面模糊" prop="blur" width="80">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.blur === 0 ? 'com'
                         : scope.row.blur === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="对比度偏低" prop="contrastLow" width="96">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.contrastLow === 0 ? 'com'
                         : scope.row.contrastLow === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="对比度偏高" prop="contrastHigh" width="96">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.contrastHigh === 0 ? 'com'
                         : scope.row.contrastHigh === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="噪声" prop="noise" width="50">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.noise === 0 ? 'com'
                         : scope.row.noise === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="黑白图像" prop="blackWhite" width="80">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.blackWhite === 0 ? 'com'
                         : scope.row.blackWhite === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="视频剧变" prop="upheaval" width="80">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.upheaval === 0 ? 'com'
                         : scope.row.upheaval === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <el-table-column label="场景变更" prop="sceneChange" width="80">
                <template slot-scope="scope">
                  <span class="td-state"
                        :class="scope.row.sceneChange === 0 ? 'com'
                         : scope.row.sceneChange === 1 ? 'err'
                         : 'unk'"
                  ></span>
                </template>
              </el-table-column>
              <!--<el-table-column label="检测时间" prop="alarmState"></el-table-column>-->
            </el-table>
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="statisticsParams.pageNum"
              :page-size="statisticsParams.pageSize"
              prev-text="上一页"
              next-text="下一页"
              layout="prev, pager, next, jumper"
              :total="totalRow">
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import VideoDiagnosticStatus from './VideoDiagnosticStatus.js'
export default VideoDiagnosticStatus
</script>

<style lang="scss">
@import "VideoDiagnosticStatus.scss";
</style>
