.layout-main {
  height: 100%;
  .layout-view {
    height: calc(100% - 30px);
    .video-camera-statistics {
      padding: 5px;
      height: 100%;
      min-height: 925px;
      box-sizing: border-box;
      background-color: #ECECEC;
      .view-main {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #fff;
        height: 100%;
        .el-tabs {
          width: 100%;
          .el-tabs__header {
            margin-bottom: 0;
            .el-tabs__item {
              width: 180px;
              text-align: center;
              font-size: 16px;
              font-weight: normal;
            }
          }
          .el-tabs__content {
            background-color: #fff;
            height: calc(100% - 40px);
            .el-tab-pane {
              display: flex;
              flex-direction: row;
              position: relative;
              height: 100%;
              .app-tree-side.side-close {
                margin-left: -282px!important;
                .left-side-toggle-btn {
                  left: 0!important;
                }
              }
              .tree-wrap {
                //height: calc(100% - 320px);
                overflow-y: auto;
                .el-tree {
                  .el-tree-node {
                    .el-tree-node__content {
                      position: relative;
                      height: 40px;
                      line-height: 40px;
                      .el-tree-node__expand-icon {
                        position: absolute;
                        right: 20px;
                        font-size: 16px;
                      }
                      .custom-tree-node {
                        padding-left: 20px;
                        font-size: 0;
                        .icon-tree-node {
                          display: inline-block;
                          vertical-align: middle;
                          width: 18px;
                          height: 18px;
                          &.parent-node-tree-icon {
                            background: url("../../assets/imgs/icon_tree_p.png") no-repeat;
                            background-size: 18px 18px;
                          }
                          // 球形机
                          &.qiu-node-tree-icon {
                            background: url("../../assets/imgs/icon_qiu.png") no-repeat;
                            background-size: 18px 18px;
                          }
                          &.qiu-node-tree-icon-open {
                            background: url("../../assets/imgs/icon_qiu_o.png") no-repeat;
                            background-size: 18px 18px;
                          }
                          &.qiu-node-tree-icon-warn {
                            background: url("../../assets/imgs/icon_qiu_w.png") no-repeat;
                            background-size: 18px 18px;
                          }
                          &.qiu-node-tree-icon-disabled {
                            background: url("../../assets/imgs/icon_qiu_d.png") no-repeat;
                            background-size: 18px 18px;
                          }
                          &.industry-node-tree-icon {
                            background: url("../../assets/imgs/icon_industry.png") no-repeat;
                            background-size: 18px 18px;
                          }
                        }
                        .label-tree-node {
                          padding-left: 14px;
                          font-size: 16px;
                          vertical-align: top;
                        }
                      }
                    }
                  }
                }
              }
              .right-side {
                flex: 1;
                //float: left;
                //width: calc(100% - 280px);
                height: 100%;
                border-left: 2px solid #ECECEC;
                box-sizing: border-box;
                .search-wrap {
                  padding: 10px;
                  .el-date-editor.el-input {
                    margin-right: 20px;
                  }
                  .el-input__inner {
                    height: 24px;
                  }
                  .el-input__icon {
                    line-height: 24px;
                  }
                  .el-button {
                    padding: 0;
                    height: 24px;
                    width: 50px;
                    font-weight: 400;
                  }
                }
                .chart-wrap {
                  float: left;
                  width: 600px;
                  height: 100%;
                  border-right: 2px solid #ECECEC;
                  box-sizing: border-box;
                  .chart-content {
                    padding: 0 5px;
                    height: 50%;
                    &:first-child {
                      border-bottom: 2px solid #ECECEC;
                      box-sizing: border-box;
                    }
                    .chart-title {
                      padding: 20px 0 10px 0;
                      color: #333;
                      font-size: 16px;
                      border-bottom: 1px solid #F5F5F5;
                      &::before {
                        margin: 0 5px;
                        display: inline-block;
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: #1DD3B8;
                      }
                    }
                    .chart-main {
                      height: calc(100% - 47px);
                    }
                  }
                }
                .table-wrap {
                  float: left;
                  width: calc(100% - 600px);
                  height: 100%;
                  .el-table {
                    th, td {
                      padding: 8px 0;
                      text-align: center;
                    }
                    .td-state {
                      display: inline-block;
                      width: 12px;
                      height: 12px;
                      border-radius: 50%;
                      &.common-state {
                        background-color: #41CF87;
                      }
                      &.error-state {
                        background-color: #FF0000;
                      }
                    }
                  }
                  .el-pagination {
                    margin: 20px 0;
                    text-align: right;
                    font-weight: 400;
                    &.is-background {
                      .btn-prev, .btn-next, .el-pager li {
                        margin: 0 2px;
                      }
                    }
                    span:not([class*=suffix]) {
                      min-width: 60px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
