<template>
  <div class="video-camera-statistics">
    <div class="view-main clearfix">
      <el-tabs v-model="tabActive">
        <el-tab-pane :lazy="true" label="区域" name="0">
          <app-tree-side :isClose="isClose" @toggle="toggleTreeSide">
            <div class="tree-wrap">
              <el-tree
                ref="myTree"
                :data="streamNodeTreeData"
                :props="videoTreeProps"
                node-key="id"
                default-expand-all
                highlight-current
                :expand-on-click-node="false"
                @node-click="onTreeItemSelect"
              >
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>
                <i class="icon-tree-node"
                   :class="data.type === 'region' ? 'parent-node-tree-icon'
                   : data.slots.icon === 'open' ? 'qiu-node-tree-icon-open'
                   : 'qiu-node-tree-icon'"
                ></i>
                <span class="label-tree-node">{{ node.label }}</span>
              </span>
            </span>
              </el-tree>
            </div>
          </app-tree-side>
          <div class="right-side">
            <div class="search-wrap">
              <el-date-picker
                v-model="statDate1"
                type="date"
                value-format="yyyyMMdd"
                placeholder="统计日期">
              </el-date-picker>
              <el-button @click="searchHandle('1')" type="primary">确定</el-button>
              <el-button @click="resetHandle('1')" type="primary">重置</el-button>
            </div>
            <div class="chart-wrap">
              <div class="chart-content">
                <div class="chart-title">各建档状态比重</div>
                <div class="chart-main" ref="chartMain1">
                  <annular-pie
                    ref="annularPie1"
                    :source="pieData"
                    :color="pieColor"
                    :title="pieTitle"
                    :legend="pieLegend"
                  ></annular-pie>
                </div>
              </div>
              <div class="chart-content">
                <div class="chart-title">各区域视频接入及异常数统计</div>
                <div class="chart-main">
                  <bar
                    ref="bar1"
                    :source="barData"
                    :color="barColor"
                  ></bar>
                </div>
              </div>
            </div>
            <div class="table-wrap">
              <el-table :data="tableData1" height="770" stripe border style="width: 100%">
                <el-table-column label="序号" type="index" width="60"></el-table-column>
                <el-table-column label="区域" prop="regionName"></el-table-column>
                <el-table-column label="接入数" prop="totalCount"></el-table-column>
                <el-table-column label="完成数" prop="allDoneCount"></el-table-column>
                <el-table-column label="部分完成数" prop="partiallyDoneCount"></el-table-column>
                <el-table-column label="未完成数" prop="notDoneCount"></el-table-column>
                <el-table-column label="统计日期" prop="statDateTime"></el-table-column>
              </el-table>
              <el-pagination
                background
                @current-change="handleCurrentChange1"
                :current-page.sync="statisticsParamsByChild.pageNum"
                :page-size="statisticsParamsByChild.pageSize"
                layout="total, prev, pager, next, jumper"
                prev-text="上一页"
                next-text="下一页"
                :total="totalRow1">
              </el-pagination>
            </div>
          </div>
        </el-tab-pane>
        <!--行业-->
        <el-tab-pane :lazy="true" label="行业" name="1">
          <app-tree-side :isClose="isClose" @toggle="toggleTreeSide">
            <div class="tree-wrap">
              <el-tree
                ref="myTree"
                :data="industryData"
                :props="videoTreeProps"
                node-key="id"
                default-expand-all
                highlight-current
                :expand-on-click-node="false"
                @node-click="onIndustryTreeItemSelect"
              >
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>
                <i class="icon-tree-node industry-node-tree-icon"></i>
                <span class="label-tree-node">{{ node.label }}</span>
              </span>
            </span>
              </el-tree>
            </div>
          </app-tree-side>
          <div class="right-side">
            <div class="search-wrap">
              <el-date-picker
                v-model="statDate2"
                type="date"
                value-format="yyyyMMdd"
                placeholder="统计日期">
              </el-date-picker>
              <el-button @click="searchHandle('2')" type="primary">确定</el-button>
              <el-button @click="resetHandle('2')" type="primary">重置</el-button>
            </div>
            <div class="chart-wrap">
              <div class="chart-content">
                <div class="chart-title">各建档状态比重</div>
                <div class="chart-main" ref="chartMain2">
                  <annular-pie
                    :source="pieData"
                    :color="pieColor"
                    :title="pieTitle"
                    :legend="pieLegend"
                  ></annular-pie>
                </div>
              </div>
              <div class="chart-content">
                <div class="chart-title">各区域视频接入及异常数统计</div>
                <div class="chart-main">
                  <bar
                    :source="barData"
                    :color="barColor"
                  ></bar>
                </div>
              </div>
            </div>
            <div class="table-wrap">
              <el-table :data="tableData1" height="770" stripe border style="width: 100%">
                <el-table-column label="序号" type="index" width="60"></el-table-column>
                <el-table-column label="区域" prop="name"></el-table-column>
                <el-table-column label="接入数" prop="encoderModelId" width="100"></el-table-column>
                <el-table-column label="完成数" width="100"></el-table-column>
                <el-table-column label="部分完成数" width="100"></el-table-column>
                <el-table-column label="未完成数" width="120"></el-table-column>
                <el-table-column label="统计时间" prop="alarmState" width="180"></el-table-column>
              </el-table>
              <el-pagination
                background
                layout="total, prev, pager, next, jumper"
                prev-text="上一页"
                next-text="下一页"
                :total="1000">
              </el-pagination>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import VideoCameraStatistics from './VideoCameraStatistics.js'
export default VideoCameraStatistics
</script>

<style lang="scss">
@import "VideoCameraStatistics.scss";
</style>
